Repository Heber-Modelo/heber-modelo: changes, and which pre-commit hooks are due for each by the changed paths.
All: Format with Spotless, Format with Prettier

.pre-commit-config.yaml:

fail_fast: true
default_language_version:
  python: 3.13.11
repos:
  - repo: local
    hooks:
      - id: Format with Spotless
        name: Format with Spotless
        types: [java]
        entry: gradle spotlessJavaApply
        language: unsupported
        stages: [pre-commit]
        pass_filenames: false
      - id: Format with Prettier
        name: Format with Prettier
        types_or: [html, javascript, ts]
        entry: npx prettier --write
        language: node
        stages: [pre-commit]

Correção das mensagens
  src/main/resources/messages.properties
  src/main/resources/messages_en.properties
  src/main/resources/messages_pt.properties
Due: none

[ FEATURE ] Funcionalidade para adicionar id da aba ativa aos componentes
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
Due: Format with Prettier

Modificação nos formulários para criar objeto de sessão
  src/main/java/io/github/heberbarra/modelador/ControladorWeb.java
  src/main/java/io/github/heberbarra/modelador/domain/model/Sessao.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/factory/SessaoFactory.java
  src/main/resources/messages.properties
  src/main/resources/messages_en.properties
  src/main/resources/messages_pt.properties
  src/main/resources/templates/entrarSessao.html
Due: Format with Spotless, Format with Prettier

[ FEATURE ] Versão inicial do novo sistema de salvar
  src/main/resources/static/scss/estilosEditor/_estiloBarraDeTarefas.scss
  src/main/resources/static/typescript/application/paginas/editor/salvar.ts
  src/main/resources/static/typescript/domain/json/componenteJSON.ts
  src/main/resources/static/typescript/domain/model/componente/componenteDiagrama.ts
  src/main/resources/static/typescript/infrastructure/command/apagarTodosComponentesCommand.ts
  src/main/resources/static/typescript/infrastructure/command/colarComponenteCommand.ts
  src/main/resources/static/typescript/infrastructure/command/conectarComponentesCommand.ts
  src/main/resources/static/typescript/infrastructure/command/conectarDuasEntidadesCommand.ts
  src/main/resources/static/typescript/infrastructure/command/conectarDuasEntidadesRelacionaisCommand.ts
  src/main/resources/static/typescript/infrastructure/command/criarComponenteCommand.ts
  src/main/resources/static/typescript/infrastructure/command/trocarTipoConexaoCommand.ts
  src/main/resources/static/typescript/infrastructure/factory/componenteFactory.ts
  src/main/resources/templates/editor.html
  tsconfig-compilation.json
  webpack.config.js
Due: Format with Prettier

[ FEATURE ] Funcionalidade para coletar os dados das descrições relacionais
  src/main/resources/static/typescript/application/paginas/editor/salvar.ts
  src/main/resources/static/typescript/domain/json/descricaoRelacionalJSON.ts
Due: Format with Prettier

[ FEATURE ] Funcionalidade para coletar os dicionários de dados
  src/main/resources/static/typescript/application/paginas/editor/salvar.ts
  src/main/resources/static/typescript/domain/json/dicionarioDadosJSON.ts
Due: Format with Prettier

[ FIX ] Correção do nome do arquivo auxiliar
  src/main/resources/templates/novo.html
Due: Format with Prettier

[ FEATURE ] Conexão do frontend com o backend para passar os dados dos diagramas a serem salvos
  src/main/java/io/github/heberbarra/modelador/domain/model/json/ComponenteJSON.java
  src/main/java/io/github/heberbarra/modelador/domain/model/json/DescricaoRelacionalJSON.java
  src/main/java/io/github/heberbarra/modelador/domain/model/json/DiagramasJSON.java
  src/main/java/io/github/heberbarra/modelador/domain/model/json/DicionarioDadosJSON.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/controller/ControladorDiagramaXML.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/controller/ControladorSalvar.java
  src/main/resources/static/typescript/application/paginas/editor/salvar.ts
  src/main/resources/templates/editor.html
Due: Format with Spotless, Format with Prettier

[ FEATURE ] Funcionalidade para salvar os diagramas como JSON
  src/main/java/io/github/heberbarra/modelador/domain/model/json/DiagramasJSON.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/controller/ControladorSalvar.java
  src/main/resources/static/scss/editor.scss
  src/main/resources/static/scss/elementos/componente.scss
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
  src/main/resources/static/typescript/application/paginas/editor/salvar.ts
  src/main/resources/static/typescript/domain/enum/nomesComponente.ts
  src/main/resources/templates/editor.html
Due: Format with Spotless, Format with Prettier

[ FEATURE ] Versão inicial da funcionalidade de transformar as informações JSON dos diagramas em XHTML
  src/main/java/io/github/heberbarra/modelador/domain/model/json/ComponenteJSON.java
  src/main/java/io/github/heberbarra/modelador/domain/model/json/DescricaoRelacionalJSON.java
  src/main/java/io/github/heberbarra/modelador/domain/model/json/DiagramasJSON.java
  src/main/java/io/github/heberbarra/modelador/domain/model/json/DicionarioDadosJSON.java
  src/main/java/io/github/heberbarra/modelador/domain/model/xhtml/XHTMLConvertable.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/controller/ControladorSalvar.java
  src/main/resources/static/elementos/tabela_dicionario.json
Due: Format with Spotless

[ FEATURE ] Funcionalidade para data de criação de arquivos CSS nos dados dos diagramas quando convertidos para XHTML
  src/main/java/io/github/heberbarra/modelador/domain/model/json/DiagramasJSON.java
Due: Format with Spotless

[ FEATURE ] Versão premilinar do sistema de salvar diagramas como XHTML
  src/main/java/io/github/heberbarra/modelador/domain/model/json/ComponenteJSON.java
  src/main/java/io/github/heberbarra/modelador/domain/model/json/DiagramasJSON.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/controller/ControladorSalvar.java
  src/main/resources/static/typescript/application/paginas/editor/salvar.ts
  src/main/resources/static/typescript/domain/json/componenteJSON.ts
Due: Format with Spotless, Format with Prettier

[ FEATURE ] Versão inicial do sistema para exportar como PDF
  build.gradle.kts
  gradle/libs.versions.toml
  src/main/java/io/github/heberbarra/modelador/domain/model/json/DiagramasJSON.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/controller/ControladorSalvar.java
  src/main/resources/static/typescript/application/paginas/editor/salvar.ts
  src/main/resources/templates/editor.html
Due: Format with Spotless, Format with Prettier

[ FIX ] Correção para o botão de desligar funcionar com o sistema anti CSRF
  src/main/resources/static/typescript/application/paginas/desligar.ts
  src/main/resources/templates/index.html
Due: Format with Prettier

[ FEATURE ] Adição de imports dinâmicos para melhorar o desempenho do código
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
  src/main/resources/static/typescript/application/paginas/editor/helperEditorDescricaoModeloRelacional.ts
Due: Format with Prettier

[ FEATURE ] Ligação inicial com o backend para importar arquivos
  src/main/java/io/github/heberbarra/modelador/infrastructure/controller/ControladorImportar.java
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
  src/main/resources/templates/editor.html
Due: Format with Spotless, Format with Prettier

inicio de implementação de criar atividade
  src/main/java/io/github/heberbarra/modelador/ControladorWeb.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/controller/ControladorAtividades.java
  src/main/resources/messages.properties
  src/main/resources/messages_en.properties
  src/main/resources/messages_pt.properties
  src/main/resources/static/scss/criarAtividade.scss
  src/main/resources/templates/criarAtividade.html
Due: Format with Spotless, Format with Prettier

Verificação senha
  src/main/java/io/github/heberbarra/modelador/ControladorWeb.java
  src/main/java/io/github/heberbarra/modelador/domain/model/Sessao.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/factory/SessaoFactory.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/verificador/VerificadorSenha.java
  src/main/resources/messages.properties
  src/main/resources/messages_en.properties
  src/main/resources/messages_pt.properties
Due: Format with Spotless

[ FEATURE ] Quando uma aba é apagada seus componentes são excluídos também. Ajuste no sistema de salvar XHTML para funcionar apropriadamente com as abas e os dicionários de dados
  src/main/java/io/github/heberbarra/modelador/domain/model/json/AbaJSON.java
  src/main/java/io/github/heberbarra/modelador/domain/model/json/DiagramasJSON.java
  src/main/java/io/github/heberbarra/modelador/domain/model/json/DicionarioDadosJSON.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/controller/ControladorImportar.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/controller/ControladorSalvar.java
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
  src/main/resources/static/typescript/application/paginas/editor/salvar.ts
  src/main/resources/static/typescript/domain/enum/tipoArquivo.ts
  src/main/resources/static/typescript/domain/json/abaJSON.ts
  src/main/resources/static/typescript/domain/json/diagramasJSON.ts
Due: Format with Spotless, Format with Prettier

[ FEATURE ] Versão inicial do código para carregar os componentes normais dos diagramas
  README.md
  src/main/java/io/github/heberbarra/modelador/domain/model/json/ComponenteJSON.java
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
  src/main/resources/static/typescript/application/paginas/editor/salvar.ts
  src/main/resources/static/typescript/domain/json/componenteJSON.ts
  src/main/resources/static/typescript/infrastructure/repositorio/repositorioAbas.ts
Due: Format with Spotless, Format with Prettier

[ REFACTOR ] Segregação da lógica de importar arquivos numa classe para deixar o código mais organizado
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
  src/main/resources/static/typescript/application/paginas/editor/importadorDiagramas.ts
Due: Format with Prettier

[ FEATURE ] Funcionalidade para carregar as descrições relacionais
  src/main/resources/static/typescript/application/paginas/editor/importadorDiagramas.ts
Due: Format with Prettier

[ FEATURE ] Funcionalidade para carregar os dicionários de dados
  src/main/resources/static/typescript/application/paginas/editor/importadorDiagramas.ts
Due: Format with Prettier

[ ENHANCEMENT ] Pequena mudança para permitir apenas arquivos xhtml e json no botão de abrir arquivo
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
Due: Format with Prettier

[ FEATURE ] Primeira parte do conversor de XHTML para JSON: conversão de componentes e dados gerais
  src/main/java/io/github/heberbarra/modelador/domain/model/json/ComponenteJSON.java
  src/main/java/io/github/heberbarra/modelador/domain/model/json/DescricaoRelacionalJSON.java
  src/main/java/io/github/heberbarra/modelador/domain/model/json/DiagramasJSON.java
  src/main/java/io/github/heberbarra/modelador/domain/model/json/DicionarioDadosJSON.java
  src/main/java/io/github/heberbarra/modelador/domain/model/xhtml/XHTMLConvertable.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/controller/ControladorImportar.java
  src/main/resources/static/typescript/application/paginas/editor/importadorDiagramas.ts
Due: Format with Spotless, Format with Prettier

[ FEATURE ] Finalização do sistema de importar arquivos XHTML
  src/main/java/io/github/heberbarra/modelador/domain/model/json/AbaJSON.java
  src/main/java/io/github/heberbarra/modelador/domain/model/json/ComponenteJSON.java
  src/main/java/io/github/heberbarra/modelador/domain/model/json/DicionarioDadosJSON.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/controller/ControladorImportar.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/controller/ControladorSalvar.java
  src/main/resources/static/typescript/application/paginas/editor/importadorDiagramas.ts
Due: Format with Spotless, Format with Prettier

[ FEATURE ] Implementação do botão Novo Arquivo
  src/main/resources/static/typescript/application/paginas/editor/helperAbrirNovoArquivo.ts
  src/main/resources/static/typescript/application/paginas/editor/importadorDiagramas.ts
  src/main/resources/templates/editor.html
  webpack.config.js
Due: Format with Prettier

[ FEATURE ] Implementação do botão imprimir
  src/main/resources/static/typescript/application/paginas/editor/salvar.ts
  src/main/resources/static/typescript/domain/enum/tipoArquivo.ts
  src/main/resources/templates/editor.html
Due: Format with Prettier

[ FEATURE ] Adição de indicador para mostrar que o PDF está sendo gerado
  src/main/resources/messages.properties
  src/main/resources/messages_en.properties
  src/main/resources/messages_pt.properties
  src/main/resources/static/scss/editor.scss
  src/main/resources/static/typescript/application/paginas/editor/salvar.ts
  src/main/resources/templates/editor.html
Due: Format with Prettier

[ FIX ] Correção na funcionalidade criar XHTML para que os arquivos sejam processados corretamente e seu estilo exibido
  src/main/java/io/github/heberbarra/modelador/domain/model/json/ComponenteJSON.java
  src/main/java/io/github/heberbarra/modelador/domain/model/json/DiagramasJSON.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/controller/ControladorImportar.java
Due: Format with Spotless

Finalização da página criar atividade
  .idea/codeStyles/Project.xml
  src/main/java/io/github/heberbarra/modelador/domain/model/AtividadeDTO.java
  src/main/java/io/github/heberbarra/modelador/domain/model/UsuarioDTO.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/controller/ControladorAtividades.java
  src/main/resources/static/scss/criarAtividade.scss
  src/main/resources/static/scss/formulario.scss
  src/main/resources/static/typescript/application/paginas/novaAtividade.ts
  src/main/resources/templates/criarAtividade.html
  webpack.config.js
Due: Format with Spotless, Format with Prettier

Finalização da verifição de senha, com adição de um sistema de kick e aviso ao aluno
  src/main/java/io/github/heberbarra/modelador/ControladorWeb.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/verificador/VerificadorLoginAluno.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/verificador/VerificadorSenha.java
  src/main/resources/messages.properties
  src/main/resources/messages_en.properties
  src/main/resources/messages_pt.properties
Due: Format with Spotless

[ ENHANCEMENT ] Agora todos os elementos dos diagramas são estilizados corretamente no XHTML
  src/main/java/io/github/heberbarra/modelador/domain/model/json/DiagramasJSON.java
  src/main/java/io/github/heberbarra/modelador/domain/model/json/DicionarioDadosJSON.java
  src/main/resources/static/scss/elementos/aba_xhtml.scss
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
Due: Format with Spotless, Format with Prettier

[ DOC ] Pequena atualização da documentação
  README.md
Due: none

[ VERSÃO ] Atualização da versão do programa
  build.gradle.kts
Due: none

[ FIX ] Correção no sistema de abrir o navegador automaticamente
  src/main/java/io/github/heberbarra/modelador/ControladorWeb.java
  src/main/java/io/github/heberbarra/modelador/domain/model/AtividadeDTO.java
  src/main/java/io/github/heberbarra/modelador/domain/model/UsuarioDTO.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/controller/ControladorAtividades.java
Due: Format with Spotless

[ FIX ] Correção no sistema de criar e conectar atributos
  src/main/resources/static/elementos/atributo_der.json
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
  src/main/resources/static/typescript/infrastructure/command/conectarAtributoCommand.ts
Due: Format with Prettier
