Repository Heber-Modelo/heber-modelo: changes, and which pre-commit hooks are due for each by the changed paths.
All: Format with Spotless, Format with Prettier

.pre-commit-config.yaml:

fail_fast: true
default_language_version:
  python: 3.13.11
repos:
  - repo: local
    hooks:
      - id: Format with Spotless
        name: Format with Spotless
        types: [java]
        entry: gradle spotlessJavaApply
        language: unsupported
        stages: [pre-commit]
        pass_filenames: false
      - id: Format with Prettier
        name: Format with Prettier
        types_or: [html, javascript, ts]
        entry: npx prettier --write
        language: node
        stages: [pre-commit]

[ FEATURE ] Finalização da versão preliminar do sistema de verificação de senha da sessão
  src/main/java/io/github/heberbarra/modelador/domain/model/Sessao.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/controller/ControladorSessao.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/factory/SessaoFactory.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/router/RoteadorSessao.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/router/RoteadorSessaoEstudante.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/verificador/VerificadorSenha.java
  src/main/resources/messages.properties
  src/main/resources/messages_en.properties
  src/main/resources/messages_pt.properties
Due: Format with Spotless

[ REFACTOR ] Segregação das rotas relacionadas a login para um controlador exclusivo
  src/main/java/io/github/heberbarra/modelador/ControladorWeb.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/controller/ControladorLogin.java
Due: Format with Spotless

[ FEATURE ] Versão inicial do sistema de listagem de estudantes
  src/main/java/io/github/heberbarra/modelador/ControladorWeb.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/controller/ControladorLogin.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/mapper/UsuarioMapper.java
  src/main/resources/templates/fragments/header.html
  src/main/resources/templates/listagemEstudantes.html
Due: Format with Spotless, Format with Prettier

[ REFACTOR ] Ajuste nos controladores para utilizar Spring Security ao invés de verificações manuais
  src/main/java/io/github/heberbarra/modelador/ControladorWeb.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/controller/ControladorAtividades.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/controller/ControladorLogin.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/security/ConfiguradorSecurity.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/services/UsuarioDetailsService.java
Due: Format with Spotless

[ FEATURE ] Versão inicial da tela principal dos estudantes conectados a uma sessão
  src/main/java/io/github/heberbarra/modelador/ControladorWeb.java
  src/main/resources/messages.properties
  src/main/resources/messages_en.properties
  src/main/resources/messages_pt.properties
  src/main/resources/static/scss/index.scss
  src/main/resources/templates/index.html
Due: Format with Spotless, Format with Prettier

[ FIX ] Ajuste do ícone da tela dos usuários logados
  src/main/resources/templates/fragments/index/icons/logout.html
  src/main/resources/templates/index.html
Due: Format with Prettier

[ FIX ] Correção para os professores serem redirecionados para página correta
  src/main/java/io/github/heberbarra/modelador/ControladorWeb.java
Due: Format with Spotless

[ STYLE ] Adição fonte específica para o nome do usuário logado
  src/main/resources/static/fonts/Pompiere/OFL.txt
  src/main/resources/static/fonts/Pompiere/Pompiere-Regular.ttf
  src/main/resources/static/scss/_estiloComum.scss
  src/main/resources/static/scss/index.scss
Due: none

[ FEATURE ] Correção da funcionalidade do botão de logout
  src/main/java/io/github/heberbarra/modelador/infrastructure/controller/ControladorLogin.java
  src/main/resources/static/typescript/application/paginas/index.ts
  src/main/resources/templates/index.html
  webpack.config.js
Due: Format with Spotless, Format with Prettier

[ FEATURE ] Implementação da funcionalidade do botão de encerrar sessão
  src/main/java/io/github/heberbarra/modelador/infrastructure/controller/ControladorSessao.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/security/ConfiguradorSecurity.java
  src/main/resources/static/typescript/application/paginas/listagemEstudantes.ts
  src/main/resources/templates/listagemEstudantes.html
  webpack.config.js
Due: Format with Spotless, Format with Prettier

[ FIX ] Correção do posicionamento dos botões da página de cadastro
  src/main/resources/templates/cadastro.html
Due: Format with Prettier

[ FEATURE ] Implementação de funcionalidade do botão de voltar da página de cadastro
  src/main/resources/static/typescript/application/paginas/cadastro.ts
Due: Format with Prettier

[ FEATURE ] Verificação para bloquear o acesso as páginas de cadastro e login fora de uma sessão
  src/main/java/io/github/heberbarra/modelador/infrastructure/controller/ControladorLogin.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/controller/ControladorSessao.java
Due: Format with Spotless

[ VERSÃO ] Atualização da versão do programa
  build.gradle.kts
Due: none

[ FEATURE ] Conexão da página configurar sessão com o objeto de configuração da sessão no backend do programa
  src/main/java/io/github/heberbarra/modelador/domain/model/AtributoConfiguracaoSessao.java
  src/main/java/io/github/heberbarra/modelador/domain/model/ConfiguracaoSessao.java
  src/main/java/io/github/heberbarra/modelador/domain/model/Sessao.java
  src/main/java/io/github/heberbarra/modelador/domain/router/Roteador.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/controller/ControladorAtividades.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/controller/ControladorSessao.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/factory/SessaoFactory.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/mapper/AtividadeMapper.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/router/RoteadorSessao.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/router/RoteadorSessaoEstudante.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/security/ConfiguradorSecurity.java
  src/main/resources/messages.properties
  src/main/resources/messages_en.properties
  src/main/resources/messages_pt.properties
  src/main/resources/static/scss/listagemEstudantes.scss
  src/main/resources/static/typescript/application/paginas/listagemEstudantes.ts
  src/main/resources/templates/configurarSessao.html
  src/main/resources/templates/listagemEstudantes.html
Due: Format with Spotless, Format with Prettier

Alteração visual na página de listagem de atividades
  src/main/resources/static/scss/listagemAtividades.scss
  src/main/resources/templates/fragments/assignment/icons/leftward_icon.html
  src/main/resources/templates/listagemAtividades.html
Due: Format with Prettier

Alteração na página editor - função toolbar
  src/main/resources/static/scss/editor.scss
  src/main/resources/static/scss/estilosEditor/_estiloBarraDeTarefas.scss
  src/main/resources/templates/editor.html
Due: Format with Prettier

[ FEATURE ] Versão inicial do sistema de abas exclusivas para cada diagrama
  src/main/java/io/github/heberbarra/modelador/ControladorWeb.java
  src/main/resources/config/configuracao.template.json
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
  src/main/resources/static/typescript/domain/model/aba.ts
  src/main/resources/static/typescript/infrastructure/command/carregarDiagramaCommand.ts
  src/main/resources/static/typescript/infrastructure/variaveisConfiguracao.ts
  src/main/resources/templates/editor.html
Due: Format with Spotless, Format with Prettier

[ FEATURE ] Funcionalidade para atualizar o nome da aba padrão conforme o tipo de diagrama criado
  src/main/resources/messages.properties
  src/main/resources/messages_en.properties
  src/main/resources/messages_pt.properties
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
  src/main/resources/static/typescript/infrastructure/command/carregarDiagramaCommand.ts
  src/main/resources/static/typescript/infrastructure/factory/componenteFactory.ts
  src/main/resources/templates/editor.html
Due: Format with Prettier

[ ENHANCEMENT ] Melhoria no sistema de salvar como JSON e XHTML para salvar também o nome do diagrama de cada aba
  src/main/java/io/github/heberbarra/modelador/domain/model/json/AbaJSON.java
  src/main/java/io/github/heberbarra/modelador/domain/model/json/DiagramasJSON.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/controller/ControladorImportar.java
  src/main/resources/static/typescript/application/paginas/editor/importadorDiagramas.ts
  src/main/resources/static/typescript/application/paginas/editor/salvar.ts
  src/main/resources/static/typescript/domain/json/abaJSON.ts
Due: Format with Spotless, Format with Prettier

[ FEATURE ] Primeira parte do sistema de visualizar e editar uma atividade
  src/main/java/io/github/heberbarra/modelador/domain/exception/AtividadeNotFoundException.java
  src/main/java/io/github/heberbarra/modelador/domain/model/AtividadeDTO.java
  src/main/java/io/github/heberbarra/modelador/domain/repository/IAtividadeRepositorio.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/adviser/ControladorRestAtividadesAdviser.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/adviser/ControladorRestUsuariosAdviser.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/assembler/UsuarioModelAssembler.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/controller/ControladorAtividades.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/controller/ControladorRestAtividades.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/controller/ControladorRestUsuarios.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/mapper/AtividadeMapper.java
  src/main/resources/messages.properties
  src/main/resources/messages_en.properties
  src/main/resources/messages_pt.properties
  src/main/resources/static/scss/listagemAtividades.scss
  src/main/resources/templates/atividade.html
  src/main/resources/templates/configurarSessao.html
  src/main/resources/templates/listagemAtividades.html
Due: Format with Spotless, Format with Prettier

[ DOC ] Correção dos nomes dos arquivos de configuração
  README.md
Due: none

[ DOC ] Atualização do README para abranger a configuração do banco de dados do programa
  README.md
Due: none

[ FEATURE ] Finalização da funcionalidade de apagar atividades
  src/main/java/io/github/heberbarra/modelador/infrastructure/controller/ControladorRestAtividades.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/security/ConfiguradorSecurity.java
  src/main/resources/messages.properties
  src/main/resources/messages_en.properties
  src/main/resources/messages_pt.properties
  src/main/resources/static/typescript/application/paginas/atividade.ts
  src/main/resources/static/typescript/application/paginas/criarAtividade.ts
  src/main/resources/templates/atividade.html
  webpack.config.js
Due: Format with Spotless, Format with Prettier

[ FEATURE ] Funcionalidade para permitir a edição de atividades
  src/main/java/io/github/heberbarra/modelador/domain/model/AtividadeDTO.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/controller/ControladorRestAtividades.java
  src/main/resources/messages.properties
  src/main/resources/messages_en.properties
  src/main/resources/messages_pt.properties
  src/main/resources/static/scss/atividade.scss
  src/main/resources/static/scss/listagemAtividades.scss
  src/main/resources/static/typescript/application/paginas/atividade.ts
  src/main/resources/static/typescript/application/paginas/criarAtividade.ts
  src/main/resources/templates/atividade.html
  src/main/resources/templates/criarAtividade.html
  src/main/resources/templates/listagemAtividades.html
Due: Format with Spotless, Format with Prettier

[ REFACTOR ] Mudança na estrutura do banco de dados, alteração no tipo da matrícula dos usuários para abranger mais variações
  src/main/java/io/github/heberbarra/modelador/domain/exception/UsuarioNotFoundException.java
  src/main/java/io/github/heberbarra/modelador/domain/model/UsuarioDTO.java
  src/main/java/io/github/heberbarra/modelador/domain/repository/IAtividadeRepositorio.java
  src/main/java/io/github/heberbarra/modelador/domain/repository/IUsuarioRepositorio.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/controller/ControladorLogin.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/controller/ControladorRestUsuarios.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/entity/Atividade.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/entity/Feedback.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/entity/Usuario.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/services/UsuarioDetailsService.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/services/UsuarioServices.java
  src/main/resources/database/init/01 - ConfigurarBancoDados.sql
  src/main/resources/static/scss/listagemAtividades.scss
Due: Format with Spotless

[ REFACTOR ] Remoção da conexão reta
  src/main/resources/messages.properties
  src/main/resources/messages_en.properties
  src/main/resources/messages_pt.properties
  src/main/resources/static/elementos/conexao_reta.json
  src/main/resources/static/typescript/domain/enum/tiposConexao.ts
  src/main/resources/static/typescript/domain/model/componente/componenteConexaoReta.ts
  src/main/resources/static/typescript/infrastructure/factory/componenteConexaoFactory.ts
  src/main/resources/static/typescript/infrastructure/helper/helperTraducaoConexao.ts
Due: Format with Prettier

[ ENHANCEMENT ] Aumento no tamanho da linha da entidade fraca a fim de facilitar a diferenciação
  src/main/resources/static/scss/elementos/especializacao.scss
Due: none

[ ENHANCEMENT ] Aumento na grossura da linha da entidade fraca a fim de facilitar a diferenciação
  src/main/resources/static/scss/elementos/conexao_entidade_fraca.scss
Due: none

[ FIX ] Ajuste no posicionamento do seletor de aba
  src/main/resources/static/scss/editor.scss
  src/main/resources/static/scss/estilosEditor/_estiloSeletorAba.scss
Due: none

[ FEATURE ] Funcionalidade para permitir rotacionar a especialização a pedido da coorientadora do projeto
  src/main/resources/messages.properties
  src/main/resources/messages_en.properties
  src/main/resources/messages_pt.properties
  src/main/resources/static/elementos/especializacao.json
  src/main/resources/static/typescript/domain/model/propriedade/propriedadeEstiloComponente.ts
  src/main/resources/static/typescript/infrastructure/factory/propriedadeFactory.ts
Due: Format with Prettier

[ ENHANCEMENT ] Ajuste no banco de dados para permitir salvar as imagens das atividades
  src/main/resources/database/init/01 - ConfigurarBancoDados.sql
Due: none

[ REFACTOR ] Mudança no posicionamento do seletor de abas a pedido da coorientadora
  src/main/resources/static/scss/editor.scss
  src/main/resources/static/scss/estilosEditor/_estiloSeletorAba.scss
Due: none

[ FEATURE ] Funcionalidade para mostrar as atividades liberadas pelo professor na área de edição dos estudantes
  src/main/java/io/github/heberbarra/modelador/ControladorWeb.java
  src/main/java/io/github/heberbarra/modelador/domain/repository/IAtividadeRepositorio.java
  src/main/resources/messages.properties
  src/main/resources/messages_en.properties
  src/main/resources/messages_pt.properties
  src/main/resources/static/scss/editor.scss
  src/main/resources/static/scss/estilosEditor/_estiloListaAtividades.scss
  src/main/resources/static/scss/listagemAtividades.scss
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
  src/main/resources/templates/editor.html
Due: Format with Spotless, Format with Prettier

[ FIX ] Ajuste no código do mostrar atividades para exibir corretamente o texto de cada atividade
  src/main/resources/static/scss/estilosEditor/_estiloListaAtividades.scss
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
  src/main/resources/static/typescript/application/paginas/editor/mostrarAtividades.ts
  src/main/resources/templates/editor.html
  webpack.config.js
Due: Format with Prettier

[ FEATURE ] Finalização do sistema de mostrar atividades na página do editor
  src/main/resources/static/scss/estilosEditor/_estiloListaAtividades.scss
  src/main/resources/templates/editor.html
Due: Format with Prettier

[ FIX ] Correção das cores dos ícones
  src/main/resources/static/scss/index.scss
  src/main/resources/templates/fragments/index/icons/docs.html
Due: Format with Prettier

[ REFACTOR ] Modificação na execução do comando de apagar todos os componentes devido à complexidade de reverter a ação considerando todos os ouvintes
  src/main/resources/messages.properties
  src/main/resources/messages_en.properties
  src/main/resources/messages_pt.properties
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
Due: Format with Prettier
