Repository Heber-Modelo/heber-modelo: changes, and which pre-commit hooks are due for each by the changed paths.
All: Format with Spotless, Format with Prettier

.pre-commit-config.yaml:

fail_fast: true
default_language_version:
  python: 3.13.11
repos:
  - repo: local
    hooks:
      - id: Format with Spotless
        name: Format with Spotless
        types: [java]
        entry: gradle spotlessJavaApply
        language: unsupported
        stages: [pre-commit]
        pass_filenames: false
      - id: Format with Prettier
        name: Format with Prettier
        types_or: [html, javascript, ts]
        entry: npx prettier --write
        language: node
        stages: [pre-commit]

Alteração na troca de abas
  src/main/resources/config/paleta.template.json
  src/main/resources/static/scss/editor.scss
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
  src/main/resources/templates/editor.html
Due: Format with Prettier

[ FIX ] Correção no .gitignore para adicionar arquivo svg para cardinalidade
  .gitignore
  src/main/resources/static/elementos/simbolos/cardinalidade.svg
Due: none

[ FEATURE ] Finalização do sistema de trocar a posição das conexões com o editor de propriedades
  src/main/resources/static/typescript/model/componente/abstractComponenteConexao.ts
  src/main/resources/static/typescript/model/componente/componenteConexaoAngulada.ts
  src/main/resources/static/typescript/model/propriedade/propriedadeComponente.ts
  src/main/resources/static/typescript/model/propriedade/propriedadeSelecionavel.ts
Due: Format with Prettier

[ REFACTOR ] Separação do código de conversão de um ponto em lateral a fim de permitir reutilização
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
  src/main/resources/static/typescript/model/services/calcularLateralComponente.ts
Due: Format with Prettier

[ FEATURE ] Versão inicial do novo sistema de posicionamento dos atributos
  src/main/resources/static/typescript/infrastructure/command/conectarAtributoCommand.ts
  src/main/resources/static/typescript/infrastructure/services/calcularPosicaoAtributo.ts
  src/main/resources/static/typescript/model/componente/componenteDiagrama.ts
Due: Format with Prettier

[ FEATURE ] Adição de botão para criar cardinalidade no DER
  src/main/resources/messages.properties
  src/main/resources/messages_en.properties
  src/main/resources/messages_pt.properties
  src/main/resources/static/diagramas/der.json
Due: none

[ REFACTOR ] Inversão das posições do seletor e das propriedades
  src/main/resources/static/scss/editor.scss
  src/main/resources/templates/editor.html
Due: Format with Prettier

[ REFACTOR ] Renomeação de textoCardinalidade para somente texto
  src/main/resources/static/typescript/model/propriedade/propriedadeSelecionavel.ts
Due: Format with Prettier

[ FEATURE ] Implementação inicial do sistema de trocar os pontos de uma conexão
  src/main/resources/static/elementos/conexao_angulada.json
  src/main/resources/static/scss/elementos/conexao_angulada.scss
  src/main/resources/static/typescript/model/componente/componenteConexaoAngulada.ts
Due: Format with Prettier

[ FEATURE ] Versão inicial da funcionalidade para evitar a sobreposição de atributos
  src/main/resources/static/typescript/infrastructure/command/conectarAtributoCommand.ts
  src/main/resources/static/typescript/infrastructure/services/calcularPosicaoAtributo.ts
  src/main/resources/static/typescript/infrastructure/services/colectarPosicoesAtributos.ts
  src/main/resources/static/typescript/model/componente/componenteDiagrama.ts
Due: Format with Prettier

[ REFACTOR ] Criação de enum para os nomes dos elementos
  src/main/resources/static/typescript/infrastructure/command/conectarAtributoCommand.ts
  src/main/resources/static/typescript/infrastructure/command/conectarComponentesCommand.ts
  src/main/resources/static/typescript/infrastructure/command/conectarDuasEntidadesCommand.ts
  src/main/resources/static/typescript/infrastructure/services/colectarPosicoesAtributos.ts
  src/main/resources/static/typescript/model/componente/nomesComponente.ts
Due: Format with Prettier

[ REFACTOR ] Padronização da variável de instâncias das factories de singleton
  src/main/resources/static/typescript/infrastructure/factory/geradorIDComponenteFactory.ts
  src/main/resources/static/typescript/infrastructure/factory/pontoExtensorFactory.ts
  src/main/resources/static/typescript/infrastructure/factory/registradorEventosConexaoFactory.ts
  src/main/resources/static/typescript/infrastructure/factory/registradorEventosElementoFactory.ts
  src/main/resources/static/typescript/infrastructure/factory/repositorioComponenteFactory.ts
  src/main/resources/static/typescript/infrastructure/factory/repositorioTiposDiagramaFactory.ts
  src/main/resources/static/typescript/infrastructure/factory/selecionadorComponenteFactory.ts
Due: Format with Prettier

[ REFACTOR ] Remoção de variável repetida e adição de constante para classe no componente diagrama
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
  src/main/resources/static/typescript/application/paginas/editor/selecionadorComponente.ts
  src/main/resources/static/typescript/infrastructure/command/carregarDiagramaCommand.ts
  src/main/resources/static/typescript/infrastructure/command/copiarComponenteCommand.ts
  src/main/resources/static/typescript/infrastructure/factory/componenteFactory.ts
  src/main/resources/static/typescript/model/componente/componenteDiagrama.ts
  src/main/resources/static/typescript/model/propriedade/propriedadeComponente.ts
Due: Format with Prettier

[ ENHANCEMENT ] Adição de chaves de tradução para as propriedades dos elementos
  src/main/resources/messages.properties
  src/main/resources/messages_en.properties
  src/main/resources/messages_pt.properties
  src/main/resources/static/elementos/.elemento.schema.json
  src/main/resources/static/elementos/agregacao.json
  src/main/resources/static/elementos/atributo_der.json
  src/main/resources/static/elementos/cardinalidade.json
  src/main/resources/static/elementos/classe.json
  src/main/resources/static/elementos/conexao_angulada.json
  src/main/resources/static/elementos/entidade.json
  src/main/resources/static/elementos/entidade_relacional.json
  src/main/resources/static/elementos/nota.json
  src/main/resources/static/elementos/relacionamento.json
  src/main/resources/static/elementos/texto.json
  src/main/resources/static/typescript/infrastructure/command/carregarDiagramaCommand.ts
  src/main/resources/static/typescript/infrastructure/factory/componenteFactory.ts
  src/main/resources/static/typescript/infrastructure/services/traduzirChaveI18n.ts
  src/main/resources/static/typescript/model/json/valoresJSONComponente.ts
Due: Format with Prettier

[ FEATURE ] Adição de tradução adicional para as propriedades com valores selecionáveis
  src/main/resources/messages.properties
  src/main/resources/messages_en.properties
  src/main/resources/messages_pt.properties
  src/main/resources/static/elementos/.elemento.schema.json
  src/main/resources/static/elementos/conexao_angulada.json
  src/main/resources/static/typescript/infrastructure/factory/componenteFactory.ts
  src/main/resources/static/typescript/infrastructure/factory/propriedadeFactory.ts
  src/main/resources/static/typescript/model/json/valoresJSONComponente.ts
  src/main/resources/static/typescript/model/propriedade/propriedadeSelecionavel.ts
Due: Format with Prettier

[ FIX ] Correção de bug que impedia a criação de um relacionamento na conexão direta de duas entidades
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
  src/main/resources/static/typescript/infrastructure/command/conectarDuasEntidadesCommand.ts
Due: Format with Prettier

[ FIX ] Correção de tradução da cardinalidade
  src/main/resources/messages_en.properties
Due: none

[ FIX ] Correção para a troca de posição da conexão funcionar em inglês
  src/main/resources/static/typescript/model/propriedade/propriedadeSelecionavel.ts
Due: Format with Prettier

[ FIX ] Correção no seletor do botão para fazer o sistema de atributo voltar a fuuncionar
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
Due: Format with Prettier

[ REFACTOR ] Remoção de undefined desnecessário
  src/main/resources/static/typescript/model/propriedade/propriedadeSelecionavel.ts
Due: Format with Prettier

[ VERSÃO ] Atualização da versão do programa
  build.gradle.kts
Due: none

Correção das mensagens
  .idea/codeStyles/Project.xml
  src/main/resources/messages.properties
  src/main/resources/messages_en.properties
  src/main/resources/messages_pt.properties
Due: none

[ FIX ] Correção no método salvar para fazer a request apropriada para o backend
  src/main/java/io/github/heberbarra/modelador/domain/model/xml/DiagramaXML.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/controller/ControladorDiagramaXML.java
  src/main/resources/static/typescript/application/paginas/editor/salvar.ts
  src/main/resources/templates/editor.html
Due: Format with Spotless, Format with Prettier

Alterações nas mensagens pedidas pela professora coorientadora, mais adição de mensagens para o conversor
  src/main/resources/messages.properties
  src/main/resources/messages_pt.properties
Due: none

Continuação da explicação sobre os diagramas
  docs/diagramas/descricaoModeloRelacional.md
  docs/diagramas/diagramaEntidadeRelacionamento.md
  docs/diagramas/diagramaModeloRelacional.md
  docs/diagramas/dicionárioDados.md
  docs/diagramas/modeloRelacional.md
  mkdocs.yml
Due: none

[ FIX ] Correção na configuração do tsconfig para suportar o TypeScript 7
  tsconfig.json
Due: none

Funcionalidade de nomear as abas do editor
  .idea/codeStyles/Project.xml
  src/main/resources/messages.properties
  src/main/resources/messages_en.properties
  src/main/resources/messages_pt.properties
  src/main/resources/static/scss/editor.scss
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
  src/main/resources/static/typescript/infrastructure/factory/geradorIDAbaFactory.ts
  src/main/resources/static/typescript/infrastructure/gerador/geradorIDAba.ts
  src/main/resources/templates/editor.html
Due: Format with Prettier

Implementação do repositório de abas
  src/main/resources/static/scss/editor.scss
  src/main/resources/static/typescript/infrastructure/repositorio/repositorioAbas.ts
  src/main/resources/static/typescript/infrastructure/repositorio/repositorioComponente.ts
  src/main/resources/static/typescript/model/aba.ts
  src/main/resources/static/typescript/model/repositorio/iRepositorioAbas.ts
  src/main/resources/static/typescript/model/services/removerElementoArray.ts
Due: Format with Prettier

[ REFACTOR ] Fragmentação do editor.scss para simplificar a manutenção do código
  src/main/resources/static/scss/editor.scss
  src/main/resources/static/scss/estilosEditor/_estiloBarraDeTarefas.scss
  src/main/resources/static/scss/estilosEditor/_estiloComponente.scss
  src/main/resources/static/scss/estilosEditor/_estiloPontoExtensor.scss
  src/main/resources/static/scss/estilosEditor/_estiloSeta.scss
  src/main/resources/static/scss/estilosEditor/_estloSeletorTipoConexao.scss
Due: none

[ REFACTOR ] Ajuste para os pontos se posicionarem corretamente junto dos elementos utilizando position relative
  src/main/resources/static/scss/_variaveis.scss
  src/main/resources/static/scss/editor.scss
  src/main/resources/static/scss/estilosEditor/_estiloComponente.scss
  src/main/resources/static/scss/estilosEditor/_estiloPontoExtensor.scss
  src/main/resources/static/typescript/infrastructure/factory/pontoExtensorFactory.ts
Due: Format with Prettier

[ REFACTOR ] Ajuste no posicionamento das setas
  src/main/resources/static/scss/estilosEditor/_estiloSeta.scss
  src/main/resources/static/typescript/infrastructure/factory/setaConectoraFactory.ts
Due: Format with Prettier

[ REFACTOR ] Mudança no sistema de movimentação com o mouse para funcionar com as posições relativas dos componentes
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
Due: Format with Prettier

[ REFACTOR ] Correção para o crescimento de um elemento não interferir com outro
  src/main/resources/static/scss/editor.scss
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
  src/main/resources/static/typescript/infrastructure/factory/pontoExtensorFactory.ts
Due: Format with Prettier

[ REFACTOR ] Ajuste para as conexões funcionarem apropriadamente
  src/main/resources/static/scss/elementos/conexao_angulada.scss
  src/main/resources/static/typescript/model/componente/componenteConexaoAngulada.ts
Due: Format with Prettier

[ FIX ] Correção para mover setas e pontos extensores ao modificar as propriedades de um componente
  src/main/resources/static/typescript/application/paginas/editor/editorPropriedades.ts
Due: Format with Prettier
