Repository Heber-Modelo/heber-modelo: changes, and which pre-commit hooks are due for each by the changed paths.
All: Format with Spotless, Format with Prettier

.pre-commit-config.yaml:

fail_fast: true
default_language_version:
  python: 3.13.11
repos:
  - repo: local
    hooks:
      - id: Format with Spotless
        name: Format with Spotless
        types: [java]
        entry: gradle spotlessJavaApply
        language: unsupported
        stages: [pre-commit]
        pass_filenames: false
      - id: Format with Prettier
        name: Format with Prettier
        types_or: [html, javascript, ts]
        entry: npx prettier --write
        language: node
        stages: [pre-commit]

[ FIX ] Correção no sistema de abrir o navegador automaticamente
  src/main/java/io/github/heberbarra/modelador/ControladorWeb.java
  src/main/java/io/github/heberbarra/modelador/domain/model/AtividadeDTO.java
  src/main/java/io/github/heberbarra/modelador/domain/model/UsuarioDTO.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/controller/ControladorAtividades.java
Due: Format with Spotless

[ VERSÃO ] Atualização da versão do programa
  build.gradle.kts
Due: none

[ FIX ] Correção no sistema de criar e conectar atributos
  src/main/resources/static/elementos/atributo_der.json
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
  src/main/resources/static/typescript/infrastructure/command/conectarAtributoCommand.ts
Due: Format with Prettier

Finalizado parte gráfica de criar atividade
  src/main/resources/static/scss/criarAtividade.scss
  src/main/resources/static/typescript/application/paginas/novaAtividade.ts
  src/main/resources/templates/criarAtividade.html
Due: Format with Prettier

finalizado funcionalidade para salvar atividade no banco
  src/main/java/io/github/heberbarra/modelador/domain/model/AtividadeDTO.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/controller/ControladorAtividades.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/entity/Atividade.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/services/AtividadeServices.java
  src/main/resources/static/typescript/application/paginas/novaAtividade.ts
  src/main/resources/templates/criarAtividade.html
Due: Format with Spotless, Format with Prettier

[ FIX ] Correção no editor de descrição relacional para funcionar com jar
  src/main/resources/static/typescript/application/paginas/editor/helperEditorDescricaoModeloRelacional.ts
Due: Format with Prettier

[ FIX ] Ajuste para o quill funcionar apropiadamente no criarAtividade
  src/main/resources/static/typescript/application/paginas/criarAtividade.ts
  src/main/resources/static/typescript/application/paginas/novaAtividade.ts
  src/main/resources/templates/criarAtividade.html
  webpack.config.js
Due: Format with Prettier

[ MYSQL ] Atualização do esquema do banco de dados para se adequar a entidade Atividade
  src/main/resources/database/init/01 - ConfigurarBancoDados.sql
Due: none

[ FEATURE ] Funcionalidade para gerar PDFs de forma mais apropriada, separando as abas em páginas e preservando o estilo
  build.gradle.kts
  gradle/libs.versions.toml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/main/java/io/github/heberbarra/modelador/infrastructure/controller/ControladorAtividades.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/controller/ControladorSalvar.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/entity/Atividade.java
  src/main/resources/static/typescript/application/paginas/editor/salvar.ts
Due: Format with Spotless, Format with Prettier

[ FEATURE ] Funcionalidade para salvar como PNG
  src/main/resources/static/typescript/application/paginas/editor/salvar.ts
  src/main/resources/static/typescript/domain/enum/tipoArquivo.ts
  src/main/resources/templates/editor.html
Due: Format with Prettier

[ FEATURE ] Funcionalidade para salvar como SVG
  src/main/resources/static/typescript/application/paginas/editor/salvar.ts
  src/main/resources/static/typescript/domain/enum/tipoArquivo.ts
  src/main/resources/templates/editor.html
Due: Format with Prettier

[ REFACTOR ] Remoção do botão imprimir
  src/main/resources/static/typescript/application/paginas/editor/salvar.ts
  src/main/resources/static/typescript/domain/enum/tipoArquivo.ts
  src/main/resources/templates/editor.html
Due: Format with Prettier

[ FIX ] Correção do lockfile do PNPM
  pnpm-lock.yaml
Due: none

[ DOC ] Atualização do README
  README.md
Due: none

[ FIX ] Correção do lockfile do NPM
  package-lock.json
Due: none

[ GRADLE ] Atualização da versão da API
  gradle/libs.versions.toml
Due: none

Alteração na listagem de atividades
  src/main/java/io/github/heberbarra/modelador/ControladorWeb.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/controller/ControladorAtividades.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/mapper/AtividadeMapper.java
  src/main/resources/static/scss/listagemAtividades.scss
  src/main/resources/static/typescript/application/paginas/criarAtividade.ts
  src/main/resources/templates/fragments/assignment/icons/assignment_icon.html
  src/main/resources/templates/listagemAtividades.html
Due: Format with Spotless, Format with Prettier

[ ENHANCEMENT ] Remoção de links temporários em virtude de verificação com base no banco de dados
  src/main/resources/templates/criarSessao.html
  src/main/resources/templates/entrarSessao.html
Due: Format with Prettier

[ FEATURE ] Versão inicial da roteador de mensagens da sessão
  src/main/java/io/github/heberbarra/modelador/infrastructure/factory/SessaoFactory.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/router/RoteadorSessao.java
  src/main/resources/messages.properties
  src/main/resources/messages_en.properties
  src/main/resources/messages_pt.properties
Due: Format with Spotless

[ FEATURE ] Segregação de rotas e classes para melhorar a organização do código, e continuação da funcionalidade de verificação da senha de sessão
  src/main/java/io/github/heberbarra/modelador/ControladorWeb.java
  src/main/java/io/github/heberbarra/modelador/domain/injector/InjetorAtributos.java
  src/main/java/io/github/heberbarra/modelador/domain/router/Roteador.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/controller/ControladorAtividades.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/controller/ControladorErros.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/controller/ControladorSessao.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/router/RoteadorSessao.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/router/RoteadorSessaoEstudante.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/verificador/VerificadorSenha.java
  src/main/resources/messages.properties
  src/main/resources/messages_en.properties
  src/main/resources/messages_pt.properties
  src/main/resources/templates/anexarAtividade.html
  src/main/resources/templates/listagemAtividades.html
Due: Format with Spotless, Format with Prettier

[ REFACTOR ] Mudança nos nomes dos atributos para que a análise de código do Intellij funcione apropriadamente
  src/main/java/io/github/heberbarra/modelador/ControladorWeb.java
  src/main/resources/templates/novo.html
Due: Format with Spotless, Format with Prettier
