Repository Heber-Modelo/heber-modelo: changes, and which pre-commit hooks are due for each by the changed paths.
All: Format with Spotless, Format with Prettier

.pre-commit-config.yaml:

fail_fast: true
default_language_version:
  python: 3.13.11
repos:
  - repo: local
    hooks:
      - id: Format with Spotless
        name: Format with Spotless
        types: [java]
        entry: gradle spotlessJavaApply
        language: unsupported
        stages: [pre-commit]
        pass_filenames: false
      - id: Format with Prettier
        name: Format with Prettier
        types_or: [html, javascript, ts]
        entry: npx prettier --write
        language: node
        stages: [pre-commit]

[ FEATURE ] Alteração no sistema de sessão e do roteador do criador da sessão para permitir a conexão de múltiplos usuários
  src/main/java/io/github/heberbarra/modelador/domain/model/Sessao.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/controller/ControladorSessao.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/factory/SessaoFactory.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/router/RoteadorSessao.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/router/RoteadorSessaoEstudante.java
  src/main/resources/static/typescript/application/paginas/listagemEstudantes.ts
  src/main/resources/templates/listagemEstudantes.html
Due: Format with Spotless, Format with Prettier

[ ENHANCEMENT ] Simplificação do código de verificação de senha das sessões, agora permite outras tentativas após errar a senha
  src/main/java/io/github/heberbarra/modelador/infrastructure/factory/SessaoFactory.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/router/RoteadorSessao.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/router/RoteadorSessaoEstudante.java
Due: Format with Spotless

[ REFACTOR ] Mudança no nome de algumas variáveis e agora o logout retorna a página de login ao invés da página inicial
  src/main/resources/static/typescript/application/paginas/index.ts
  src/main/resources/static/typescript/application/paginas/login.ts
Due: Format with Prettier

[ REFACTOR ] Mudança para remover o botão HOME de algumas páginas
  src/main/resources/static/scss/_estiloHeader.scss
  src/main/resources/templates/cadastro.html
  src/main/resources/templates/login.html
  src/main/resources/templates/privacidade.html
Due: Format with Prettier

[ FEATURE ] Finalização da parte visual da página de solicitar uma nova senha
  src/main/resources/static/scss/formulario.scss
  src/main/resources/templates/solicitar.html
Due: Format with Prettier

[ REFACTOR ] Criação de pacote para melhorar a organização dos DTOs
  src/main/java/io/github/heberbarra/modelador/ControladorWeb.java
  src/main/java/io/github/heberbarra/modelador/application/diagrama/ListadorTiposDiagrama.java
  src/main/java/io/github/heberbarra/modelador/domain/model/dto/AtividadeDTO.java
  src/main/java/io/github/heberbarra/modelador/domain/model/dto/MensagemTraduzidaDTO.java
  src/main/java/io/github/heberbarra/modelador/domain/model/dto/NovoDiagramaDTO.java
  src/main/java/io/github/heberbarra/modelador/domain/model/dto/TipoDiagramaDTO.java
  src/main/java/io/github/heberbarra/modelador/domain/model/dto/UsuarioDTO.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/assembler/TraducaoModelAssembler.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/controller/ControladorAtividades.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/controller/ControladorLogin.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/controller/ControladorRestAtividades.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/controller/ControladorTraducao.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/mapper/AtividadeMapper.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/mapper/UsuarioMapper.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/services/AtividadeServices.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/services/UsuarioServices.java
Due: Format with Spotless

[ FEATURE ] Criação de código secreto para liberar o acesso dos esutdantes para a página de redefinição de senha
  src/main/java/io/github/heberbarra/modelador/ControladorWeb.java
  src/main/java/io/github/heberbarra/modelador/domain/model/dto/SolicitarTrocarSenhaDTO.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/controller/ControladorLogin.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/controller/ControladorSessao.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/router/RoteadorSessaoEstudante.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/verificador/VerificadorTokenTrocarSenha.java
  src/main/resources/messages.properties
  src/main/resources/messages_en.properties
  src/main/resources/messages_pt.properties
  src/main/resources/static/scss/solicitar.scss
  src/main/resources/static/typescript/application/paginas/solicitar.ts
  src/main/resources/templates/listagemEstudantes.html
  src/main/resources/templates/solicitar.html
  webpack.config.js
Due: Format with Spotless, Format with Prettier

[ ENHANCEMENT ] Adição de link para acessar o perfil do usuário logado na página inicial
  src/main/resources/static/scss/index.scss
  src/main/resources/templates/fragments/common/icons/profile.html
  src/main/resources/templates/index.html
  src/main/resources/templates/listagemEstudantes.html
  src/main/resources/templates/perfil.html
Due: Format with Prettier

[ ENHANCEMENT ] Adição de verificação para impedir o acesso dos usuários as páginas de solicitar e redefinir senha fora de uma sessão
  src/main/java/io/github/heberbarra/modelador/infrastructure/controller/ControladorLogin.java
Due: Format with Spotless

[ FEATURE ] Funcionalidade para permitir aos usuários alteraram as suas senhas
  src/main/java/io/github/heberbarra/modelador/domain/model/dto/RedefinirSenhaDTO.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/controller/ControladorLogin.java
  src/main/resources/database/init/02 - CriarUsuarios.sh
  src/main/resources/messages.properties
  src/main/resources/messages_en.properties
  src/main/resources/messages_pt.properties
  src/main/resources/templates/login.html
  src/main/resources/templates/redefinir.html
Due: Format with Spotless, Format with Prettier

[ FEATURE ] Funcionalidade para mostrar a atividade selecionada na tela de edição
  src/main/resources/messages.properties
  src/main/resources/messages_en.properties
  src/main/resources/messages_pt.properties
  src/main/resources/static/scss/estilosEditor/_estiloListaAtividades.scss
  src/main/resources/static/scss/listagemAtividades.scss
  src/main/resources/static/typescript/application/paginas/editor/mostrarAtividades.ts
  src/main/resources/templates/editor.html
Due: Format with Prettier

[ FEATURE ] Funcionalidade para permitir que os estudantes enviem seus diagramas para correção
  src/main/java/io/github/heberbarra/modelador/domain/model/dto/EnviarAtividadeDTO.java
  src/main/java/io/github/heberbarra/modelador/domain/model/dto/FeedbackDTO.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/controller/ControladorRestAtividades.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/entity/Feedback.java
  src/main/resources/application-local.yml
  src/main/resources/application.yml
  src/main/resources/database/init/01 - ConfigurarBancoDados.sql
  src/main/resources/database/init/02 - CriarUsuarios.sh
  src/main/resources/messages.properties
  src/main/resources/messages_en.properties
  src/main/resources/messages_pt.properties
  src/main/resources/static/typescript/application/paginas/editor/salvar.ts
  src/main/resources/templates/editor.html
Due: Format with Spotless, Format with Prettier

[ FEATURE ] Funcionalidade para mostrar os feedbacks das atividades concluídas pelo usuários e impedir que uma prova seja feita caso haja um feedback atrelada a ela
  src/main/java/io/github/heberbarra/modelador/ControladorWeb.java
  src/main/java/io/github/heberbarra/modelador/domain/model/dto/FeedbackDTO.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/mapper/FeedbackMapper.java
  src/main/resources/messages.properties
  src/main/resources/messages_en.properties
  src/main/resources/messages_pt.properties
  src/main/resources/static/scss/estilosEditor/_estiloListaAtividades.scss
  src/main/resources/templates/editor.html
Due: Format with Spotless, Format with Prettier

[ FEATURE ] Adição de coluna para demarcar a data de criação de um feedback(quando o aluno fez a atividade)
  src/main/java/io/github/heberbarra/modelador/ControladorWeb.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/controller/ControladorRestAtividades.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/entity/Feedback.java
  src/main/resources/database/init/01 - ConfigurarBancoDados.sql
Due: Format with Spotless

[ FEATURE ] Criação de listagem de feedbacks/atividades submetidas para os professores
  src/main/java/io/github/heberbarra/modelador/domain/model/dto/AtividadeFeedbackDTO.java
  src/main/java/io/github/heberbarra/modelador/domain/repository/IFeedbackRepositorio.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/controller/ControladorAtividades.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/entity/Feedback.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/mapper/FeedbackMapper.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/security/ConfiguradorSecurity.java
  src/main/resources/messages.properties
  src/main/resources/messages_en.properties
  src/main/resources/messages_pt.properties
  src/main/resources/static/scss/listagemAtividadesCorrecao.scss
  src/main/resources/templates/listagemAtividadesCorrecao.html
Due: Format with Spotless, Format with Prettier

[ FEATURE ] Adição de opção de configuração de sessão do tempo máximo em segundos que um aluno pode se ausentar de uma prova
  src/main/java/io/github/heberbarra/modelador/domain/model/AtributoConfiguracaoSessao.java
  src/main/java/io/github/heberbarra/modelador/domain/model/ConfiguracaoSessao.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/controller/ControladorSessao.java
  src/main/resources/config/configuracao.template.json
  src/main/resources/messages.properties
  src/main/resources/messages_en.properties
  src/main/resources/messages_pt.properties
  src/main/resources/static/scss/configurarSessao.scss
  src/main/resources/templates/configurarSessao.html
Due: Format with Spotless, Format with Prettier

[ REFACTOR ] Remoção de símbolo em favor de texto explicativo
  src/main/resources/messages.properties
  src/main/resources/messages_en.properties
  src/main/resources/messages_pt.properties
  src/main/resources/templates/fragments/listagemEstudantes/icons/notify.html
  src/main/resources/templates/listagemEstudantes.html
Due: Format with Prettier

[ FEATURE ] Funcionalidade para salvar a data de criação e imagens das atividades realizadas pelos usuários
  src/main/java/io/github/heberbarra/modelador/domain/exception/FeedbackNotFoundException.java
  src/main/java/io/github/heberbarra/modelador/domain/model/dto/FeedbackDTO.java
  src/main/java/io/github/heberbarra/modelador/domain/repository/IFeedbackRepositorio.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/controller/ControladorAtividades.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/controller/ControladorRestAtividades.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/entity/Feedback.java
  src/main/resources/application-local.yml
  src/main/resources/application.yml
  src/main/resources/database/init/01 - ConfigurarBancoDados.sql
  src/main/resources/messages.properties
  src/main/resources/messages_en.properties
  src/main/resources/messages_pt.properties
  src/main/resources/static/scss/editarFeedback.scss
  src/main/resources/static/typescript/application/paginas/editarFeedback.ts
  src/main/resources/static/typescript/application/paginas/editor/salvar.ts
  src/main/resources/templates/atividade.html
  src/main/resources/templates/editarFeedback.html
  webpack.config.js
Due: Format with Spotless, Format with Prettier

[ FEATURE ] Estilização da página de edição de feedback
  src/main/resources/messages.properties
  src/main/resources/messages_en.properties
  src/main/resources/messages_pt.properties
  src/main/resources/static/scss/editarFeedback.scss
  src/main/resources/templates/editarFeedback.html
Due: Format with Prettier

alterações nas funcionalidades toolbar no editor
  src/main/resources/config/paleta.template.json
  src/main/resources/messages.properties
  src/main/resources/messages_en.properties
  src/main/resources/messages_pt.properties
  src/main/resources/static/scss/editor.scss
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
  src/main/resources/templates/editor.html
Due: Format with Prettier

Finalização do sistema de funcionalidades toolbar
  .idea/codeStyles/Project.xml
  src/main/resources/config/paleta.template.json
  src/main/resources/messages.properties
  src/main/resources/messages_en.properties
  src/main/resources/messages_pt.properties
  src/main/resources/static/scss/editor.scss
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
  src/main/resources/static/typescript/application/paginas/editor/helperAbrirNovoArquivo.ts
  src/main/resources/static/typescript/application/paginas/editor/salvar.ts
  src/main/resources/templates/editor.html
Due: Format with Prettier

[ FEATURE ] Funcionalidade para salvar as alterações de feedback dos professores
  src/main/java/io/github/heberbarra/modelador/domain/model/dto/AtualizarFeedbackDTO.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/controller/ControladorRestAtividades.java
  src/main/resources/messages.properties
  src/main/resources/messages_en.properties
  src/main/resources/messages_pt.properties
  src/main/resources/static/scss/editarFeedback.scss
  src/main/resources/static/scss/editor.scss
  src/main/resources/static/typescript/application/paginas/editarFeedback.ts
  src/main/resources/static/typescript/application/paginas/editor/salvar.ts
  src/main/resources/templates/editarFeedback.html
Due: Format with Spotless, Format with Prettier

[ FEATURE ] Funcionalidade para remover elementos selecionados ao iniciar uma avaliação
  src/main/java/io/github/heberbarra/modelador/ControladorWeb.java
  src/main/resources/messages.properties
  src/main/resources/messages_en.properties
  src/main/resources/messages_pt.properties
  src/main/resources/static/scss/listagemAtividadesCorrecao.scss
  src/main/resources/static/typescript/application/paginas/editor/mostrarAtividades.ts
  src/main/resources/templates/editor.html
  src/main/resources/templates/listagemAtividadesCorrecao.html
Due: Format with Spotless, Format with Prettier

[ FIX ] Correção na função de redirecionamento após apagar uma atividade e de acesso à tabela de usuário
  src/main/resources/database/init/02 - CriarUsuarios.sh
  src/main/resources/static/typescript/application/paginas/atividade.ts
Due: Format with Prettier

[ FEATURE ] Funcionalidade para pegar o tempo limite configurado pelo professor
  src/main/java/io/github/heberbarra/modelador/infrastructure/acessador/AcessadorSegundosTimeoutTeste.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/controller/ControladorSessao.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/router/RoteadorSessao.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/router/RoteadorSessaoEstudante.java
  src/main/resources/static/typescript/application/paginas/editor/mostrarAtividades.ts
Due: Format with Spotless, Format with Prettier

[ FIX ] Correções visuais
  src/main/resources/application-local.yml
  src/main/resources/application.yml
  src/main/resources/static/scss/editarFeedback.scss
Due: none

[ FIX ] Correção das terminações de linha do gradlew.bat
  gradlew.bat
Due: none

[ VERSÃO ] Atualização da versão do programa
  build.gradle.kts
Due: none

[ REFACTOR ] Otimização do código CSS dos menus da página de edição
  src/main/resources/static/scss/editor.scss
  src/main/resources/static/scss/estilosEditor/_estiloMenu.scss
  src/main/resources/templates/editor.html
Due: Format with Prettier

[ FIX ] Correção para permitir uma nova tentativa seja concluída com sucesso imediatamente após errar o token de trocar senha
  src/main/java/io/github/heberbarra/modelador/infrastructure/controller/ControladorLogin.java
Due: Format with Spotless

[ FEATURE ] Finalização da funcionalidade das provas, agora se encerram quando o tempo limite esgota ou quando o usuário abandona a aba
  src/main/java/io/github/heberbarra/modelador/infrastructure/controller/ControladorRestSessao.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/controller/ControladorSessao.java
  src/main/resources/static/typescript/application/paginas/editor/mostrarAtividades.ts
Due: Format with Spotless, Format with Prettier

[ ENHANCEMENT ] Token trocar senha movido para a página de configuração da sessão
  src/main/java/io/github/heberbarra/modelador/ControladorWeb.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/controller/ControladorSessao.java
  src/main/resources/messages.properties
  src/main/resources/messages_en.properties
  src/main/resources/messages_pt.properties
  src/main/resources/templates/configurarSessao.html
  src/main/resources/templates/listagemEstudantes.html
Due: Format with Spotless, Format with Prettier

[ FEATURE ] Adição de botões para girar as especializações
  src/main/resources/static/elementos/especializacao.json
  src/main/resources/static/scss/elementos/especializacao.scss
  src/main/resources/static/typescript/application/paginas/editor/callbacksElementos.ts
Due: Format with Prettier

[ FEATURE ] Exportar PDF cria folhas tamanho A4 por padrão(configurável), e PNG com resolução 4K(configurável), ambos com os elementos centralizados
  src/main/java/io/github/heberbarra/modelador/ControladorWeb.java
  src/main/resources/config/configuracao.template.json
  src/main/resources/static/scss/editor.scss
  src/main/resources/static/typescript/application/paginas/editor/salvar.ts
  src/main/resources/static/typescript/infrastructure/variaveisConfiguracao.ts
  src/main/resources/templates/editor.html
Due: Format with Spotless, Format with Prettier

[ FIX ] Correção da estilização dos arquivos XHTML
  src/main/java/io/github/heberbarra/modelador/domain/model/json/DiagramasJSON.java
  src/main/resources/static/scss/elementos/aba_xhtml.scss
Due: Format with Spotless

[ FIX ] Correção dos problemas da conversão dos dicionários dados
  src/main/java/io/github/heberbarra/modelador/domain/model/json/DicionarioDadosJSON.java
Due: Format with Spotless
