Repository Heber-Modelo/heber-modelo: changes, and which pre-commit hooks are due for each by the changed paths.
All: Format with Spotless, Format with Prettier

.pre-commit-config.yaml:

fail_fast: true
default_language_version:
  python: 3.13.11
repos:
  - repo: local
    hooks:
      - id: Format with Spotless
        name: Format with Spotless
        types: [java]
        entry: gradle spotlessJavaApply
        language: unsupported
        stages: [pre-commit]
        pass_filenames: false
      - id: Format with Prettier
        name: Format with Prettier
        types_or: [html, javascript, ts]
        entry: npx prettier --write
        language: node
        stages: [pre-commit]

[ FEATURE ] Exportar PDF cria folhas tamanho A4 por padrão(configurável), e PNG com resolução 4K(configurável), ambos com os elementos centralizados
  src/main/java/io/github/heberbarra/modelador/ControladorWeb.java
  src/main/resources/config/configuracao.template.json
  src/main/resources/static/scss/editor.scss
  src/main/resources/static/typescript/application/paginas/editor/salvar.ts
  src/main/resources/static/typescript/infrastructure/variaveisConfiguracao.ts
  src/main/resources/templates/editor.html
Due: Format with Spotless, Format with Prettier

[ FIX ] Correção dos problemas da conversão dos dicionários dados
  src/main/java/io/github/heberbarra/modelador/domain/model/json/DicionarioDadosJSON.java
Due: Format with Spotless

[ FIX ] Correção da estilização dos arquivos XHTML
  src/main/java/io/github/heberbarra/modelador/domain/model/json/DiagramasJSON.java
  src/main/resources/static/scss/elementos/aba_xhtml.scss
Due: Format with Spotless

[ ENHANCEMENT ] Token trocar senha movido para a página de configuração da sessão
  src/main/java/io/github/heberbarra/modelador/ControladorWeb.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/controller/ControladorSessao.java
  src/main/resources/messages.properties
  src/main/resources/messages_en.properties
  src/main/resources/messages_pt.properties
  src/main/resources/templates/configurarSessao.html
  src/main/resources/templates/listagemEstudantes.html
Due: Format with Spotless, Format with Prettier

[ FEATURE ] Finalização da funcionalidade das provas, agora se encerram quando o tempo limite esgota ou quando o usuário abandona a aba
  src/main/java/io/github/heberbarra/modelador/infrastructure/controller/ControladorRestSessao.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/controller/ControladorSessao.java
  src/main/resources/static/typescript/application/paginas/editor/mostrarAtividades.ts
Due: Format with Spotless, Format with Prettier

[ REFACTOR ] Otimização do código CSS dos menus da página de edição
  src/main/resources/static/scss/editor.scss
  src/main/resources/static/scss/estilosEditor/_estiloMenu.scss
  src/main/resources/templates/editor.html
Due: Format with Prettier

[ FIX ] Correção para permitir uma nova tentativa seja concluída com sucesso imediatamente após errar o token de trocar senha
  src/main/java/io/github/heberbarra/modelador/infrastructure/controller/ControladorLogin.java
Due: Format with Spotless

[ ENHANCEMENT ] Melhorias visuais no atributo
  src/main/resources/static/scss/elementos/atributo_der.scss
Due: none

[ FIX ] Correção da lógica do command de criar conexões para só adicionar cardinalidades entre relacionamentos e entidades
  src/main/resources/static/typescript/infrastructure/command/conectarComponentesCommand.ts
Due: Format with Prettier

[ VERSÃO ] Atualização da versão do programa
  build.gradle.kts
Due: none

[ FIX ] Correção para impedir o usuário de tentar adicionar atributos em descrições relacionais em dicionários de dados
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
  src/main/resources/static/typescript/domain/enum/nomesComponente.ts
Due: Format with Prettier

[ REFACTOR ] Correção do nome da TABELA relacional
  src/main/resources/messages.properties
  src/main/resources/messages_en.properties
  src/main/resources/messages_pt.properties
  src/main/resources/static/diagramas/drl.json
  src/main/resources/static/elementos/simbolos/entidade_relacional.svg
  src/main/resources/static/elementos/tabela_relacional.json
  src/main/resources/static/scss/elementos/aba_xhtml.scss
  src/main/resources/static/scss/elementos/tabela_relacional.scss
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
  src/main/resources/static/typescript/domain/enum/nomesComponente.ts
Due: Format with Prettier

[ FEATURE ] Adição de link para voltar ao programa principal na página do manual do usuário
  docs/index.md
Due: none

[ REFACTOR ] Remoção do botão de cardinalidade do Diagrama de Entidade-Relacionamento a pedido da coorientadora
  src/main/resources/static/diagramas/der.json
Due: none

[ FEATURE ] Adição de confirmação de saída no botão home da página de edição
  src/main/resources/messages.properties
  src/main/resources/messages_en.properties
  src/main/resources/messages_pt.properties
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
  src/main/resources/templates/editor.html
Due: Format with Prettier

[ FEATURE ] Funcionalidade experimental para permitir rodar o programa ao clicar duas vezes no jar
  src/main/java/io/github/heberbarra/modelador/Principal.java
Due: Format with Spotless

[ REFACTOR ] Término da configuração de rotas do security e unificação dos controllers
  src/main/java/io/github/heberbarra/modelador/infrastructure/adviser/ControladorAtividadesAdviser.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/adviser/ControladorUsuariosAdviser.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/assembler/UsuarioModelAssembler.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/controller/ControladorAtividades.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/controller/ControladorRestAtividades.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/controller/ControladorRestSessao.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/controller/ControladorSessao.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/controller/ControladorUsuarios.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/security/ConfiguradorSecurity.java
Due: Format with Spotless

[ ENHANCEMENT ] Modificação para as linhas se conectarem melhor aos componentes
  src/main/resources/static/scss/elementos/componente.scss
  src/main/resources/static/scss/elementos/conexao_angulada.scss
  src/main/resources/static/scss/elementos/conexao_entidade_fraca.scss
  src/main/resources/static/scss/elementos/conexao_reta.scss
  src/main/resources/static/scss/elementos/conexao_seta.scss
  src/main/resources/static/typescript/domain/model/componente/componenteCardinalidadeRelacionamento.ts
  src/main/resources/static/typescript/domain/model/componente/componenteDiagrama.ts
Due: Format with Prettier

[ FEATURE ] Correção no funcionamento do sistema de criação automática de cardinalidades
  src/main/resources/static/typescript/infrastructure/command/conectarComponentesCommand.ts
Due: Format with Prettier

[ FIX ] Melhoria para remover seleção ao trocar de aba
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
  src/main/resources/static/typescript/infrastructure/command/carregarDiagramaCommand.ts
Due: Format with Prettier

[ FEATURE ] Funcionalidade para resetar as abas quando o command de apagar todos os elementos for executado
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
  src/main/resources/static/typescript/infrastructure/command/apagarTodosComponentesCommand.ts
Due: Format with Prettier

[ FEATURE ] Integração inicial direta no sistema de propriedades individuais de atributos que antes eram gerais
  src/main/resources/messages.properties
  src/main/resources/messages_en.properties
  src/main/resources/messages_pt.properties
  src/main/resources/static/elementos/agregacao.json
  src/main/resources/static/elementos/atributo_der.json
  src/main/resources/static/elementos/cardinalidade.json
  src/main/resources/static/elementos/classe.json
  src/main/resources/static/elementos/entidade.json
  src/main/resources/static/elementos/especializacao.json
  src/main/resources/static/elementos/nota.json
  src/main/resources/static/elementos/relacionamento.json
  src/main/resources/static/elementos/simbolos/tabela_relacional.svg
  src/main/resources/static/elementos/tabela_relacional.json
  src/main/resources/static/elementos/texto.json
  src/main/resources/static/scss/elementos/classe.scss
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
  src/main/resources/static/typescript/application/paginas/editor/editorPropriedades.ts
  src/main/resources/static/typescript/domain/model/propriedade/propriedadeComponente.ts
  src/main/resources/static/typescript/domain/model/propriedade/propriedadeEstiloComponente.ts
  src/main/resources/static/typescript/domain/services/calcularValorExpressao.ts
  src/main/resources/templates/editor.html
Due: Format with Prettier

[ FEATURE ] Finalização da integração com atualização apropriada dos inputs, dos pontos extensores e das setas conectoras
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
  src/main/resources/static/typescript/application/paginas/editor/editorPropriedades.ts
  src/main/resources/static/typescript/domain/model/componente/componenteDiagrama.ts
  src/main/resources/static/typescript/domain/model/propriedade/propriedadeComponente.ts
  src/main/resources/static/typescript/infrastructure/selecionador/selecionadorComponente.ts
Due: Format with Prettier

[ ENHANCEMENT ] Integração do seletor de tipo de conexão ao editor de propriedades
  src/main/resources/messages.properties
  src/main/resources/messages_en.properties
  src/main/resources/messages_pt.properties
  src/main/resources/static/elementos/conexao_angulada.json
  src/main/resources/static/elementos/conexao_entidade_fraca.json
  src/main/resources/static/elementos/conexao_seta.json
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
  src/main/resources/static/typescript/domain/event/propertyChangeEvent.ts
  src/main/resources/static/typescript/domain/model/componente/abstractComponenteConexao.ts
  src/main/resources/static/typescript/domain/model/propriedade/propriedadeComponente.ts
  src/main/resources/static/typescript/domain/model/propriedade/propriedadeSelecionavel.ts
  src/main/resources/static/typescript/domain/model/propriedade/propriedadeSelecionavelTipoConexao.ts
  src/main/resources/static/typescript/infrastructure/factory/propriedadeFactory.ts
  src/main/resources/static/typescript/infrastructure/helper/helperTraducaoConexao.ts
  src/main/resources/static/typescript/infrastructure/seletorTipoConexao.ts
  src/main/resources/templates/editor.html
Due: Format with Prettier

[ REVERT ] Remoção de OFFSET devido a um conflito com as conexões com seta
  src/main/resources/static/typescript/domain/model/componente/componenteCardinalidadeRelacionamento.ts
  src/main/resources/static/typescript/domain/model/componente/componenteDiagrama.ts
Due: Format with Prettier

[ FEATURE ] Adição do tipo de cada componente ao editor de propriedades para facilitar a identificação
  src/main/resources/static/typescript/application/paginas/editor/editorPropriedades.ts
Due: Format with Prettier

[ FEATURE ] Reimplementação do modo avançado do editor de propriedades
  src/main/java/io/github/heberbarra/modelador/ControladorWeb.java
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
  src/main/resources/static/typescript/application/paginas/editor/editorPropriedades.ts
  src/main/resources/static/typescript/domain/model/propriedade/propriedadeComponente.ts
  src/main/resources/static/typescript/infrastructure/variaveisConfiguracao.ts
  src/main/resources/templates/editor.html
Due: Format with Spotless, Format with Prettier

[ FEATURE ] Funcionalidade para inverter automaticamente o círculo do atributo conforme a posição da conexão
  src/main/resources/static/typescript/infrastructure/command/conectarAtributoCommand.ts
Due: Format with Prettier

[ ENHANCEMENT ] Ajuste no método de calcular o ponto dos atributos para fazer as conexões tocarem o círculo do atributo
  src/main/resources/static/typescript/infrastructure/command/conectarAtributoCommand.ts
Due: Format with Prettier

[ FEATURE ] Integração inicial dos atributos da tabela relacional no editor de propriedades
  src/main/resources/messages.properties
  src/main/resources/messages_en.properties
  src/main/resources/messages_pt.properties
  src/main/resources/static/elementos/tabela_relacional.json
  src/main/resources/static/typescript/application/paginas/editor/callbacksElementos.ts
  src/main/resources/static/typescript/domain/enum/tiposChave.ts
  src/main/resources/static/typescript/domain/model/propriedade/propriedadeComponente.ts
  src/main/resources/static/typescript/domain/model/propriedade/propriedadeFilho.ts
  src/main/resources/static/typescript/domain/model/propriedade/propriedadeFilhoChaveAtributo.ts
  src/main/resources/static/typescript/infrastructure/factory/propriedadeFactory.ts
Due: Format with Prettier

[ FEATURE ] Finalização da integração dos atributos da tabela relacional ao editor de propriedades
  src/main/resources/config/paleta.template.json
  src/main/resources/static/elementos/tabela_relacional.json
  src/main/resources/static/scss/elementos/tabela_relacional.scss
  src/main/resources/static/typescript/application/paginas/editor/callbacksElementos.ts
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
  src/main/resources/static/typescript/domain/event/tabelaRelacionalChangeEvent.ts
  src/main/resources/static/typescript/domain/model/componente/componenteTabelaRelacional.ts
  src/main/resources/static/typescript/domain/model/propriedade/propriedadeFilho.ts
  src/main/resources/static/typescript/domain/model/propriedade/propriedadeFilhoChaveAtributo.ts
  src/main/resources/static/typescript/infrastructure/factory/componenteFactory.ts
Due: Format with Prettier
