Repository Heber-Modelo/heber-modelo: changes, and which pre-commit hooks are due for each by the changed paths.
All: Format with Spotless, Format with Prettier

Format with Spotless:
  name: Format with Spotless
  entry: gradle spotlessJavaApply
  language: unsupported
  stages:
  - pre-commit
  pass_filenames: false

Format with Prettier:
  name: Format with Prettier
  entry: npx prettier --write
  language: node
  stages:
  - pre-commit

[ FIX ] Correção do comando refresh
  justfile
Due: none

[ FEATURE ] Começo da funcionalidade de pontos extensores para permitir modificar o tamanho dos elementos de forma mais apropriada com o mouse
  src/main/resources/static/typescript/application/paginas/editor/selecionadorComponente.ts
Due: Format with Prettier

adição de ícones DER
  src/main/resources/static/elementos/.elemento.schema.json
  src/main/resources/static/elementos/agregacao.json
  src/main/resources/static/elementos/atributo_der.json
  src/main/resources/static/elementos/entidade.json
  src/main/resources/static/elementos/especializacao.json
  src/main/resources/static/elementos/nota.json
  src/main/resources/static/elementos/relacionamento.json
Due: none

[ FIX ] Ajuste no copyright para tirar espaços inadequados
  .idea/copyright/Copyright.xml
Due: none

Atualização da página criar diagrama(incompleto)
  src/main/resources/messages.properties
  src/main/resources/messages_en.properties
  src/main/resources/messages_pt.properties
  src/main/resources/static/elementos/entidade_relacional.json
  src/main/resources/static/scss/_variaveis.scss
  src/main/resources/static/scss/novo.scss
  src/main/resources/templates/novo.html
Due: Format with Prettier

[ FIX ] Correção de argumento digitado errado
  justfile
Due: none

[ FEATURES ] Pontos seletores agoram se posicionam adequamente quando o elemento é movido, e suas posições foram centralizadas
  src/main/resources/static/scss/editor.scss
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
  src/main/resources/static/typescript/application/paginas/editor/pontoExtensor.ts
  src/main/resources/static/typescript/application/paginas/editor/selecionadorComponente.ts
  src/main/resources/static/typescript/infrastructure/factory/selecionadorComponenteFactory.ts
  src/main/resources/static/typescript/model/posicoesRelativasPontoExtensor.ts
Due: Format with Prettier

atualização completa da página criar diagrama
  src/main/resources/static/scss/_variaveis.scss
  src/main/resources/static/scss/novo.scss
  src/main/resources/templates/novo.html
Due: Format with Prettier

[ FEATURE ] Criação de factory de pontos extensores para facilitar mudar a funcionalidade com base na posição relativa
  src/main/resources/static/typescript/infrastructure/factory/pontoExtensorFactory.ts
  src/main/resources/static/typescript/infrastructure/factory/selecionadorComponenteFactory.ts
Due: Format with Prettier

[ REFACTOR ] Configuração para usar imports absolutos ao invés de relativos
  src/main/resources/static/typescript/application/history/commandHistory.ts
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
  src/main/resources/static/typescript/application/paginas/editor/editorPropriedades.ts
  src/main/resources/static/typescript/application/paginas/editor/manipularComponente.ts
  src/main/resources/static/typescript/application/paginas/editor/selecionadorComponente.ts
  src/main/resources/static/typescript/infrastructure/command/apagarComponenteCommand.ts
  src/main/resources/static/typescript/infrastructure/command/carregarCSSCommand.ts
  src/main/resources/static/typescript/infrastructure/command/carregarDiagramaCommand.ts
  src/main/resources/static/typescript/infrastructure/command/colarComponenteCommand.ts
  src/main/resources/static/typescript/infrastructure/command/copiarComponenteCommand.ts
  src/main/resources/static/typescript/infrastructure/command/cortarComponenteCommand.ts
  src/main/resources/static/typescript/infrastructure/conversor/conversor.ts
  src/main/resources/static/typescript/infrastructure/factory/componenteFactory.ts
  src/main/resources/static/typescript/infrastructure/factory/pontoExtensorFactory.ts
  src/main/resources/static/typescript/infrastructure/factory/propriedadeFactory.ts
  src/main/resources/static/typescript/infrastructure/factory/repositorioComponenteFactory.ts
  src/main/resources/static/typescript/infrastructure/factory/selecionadorComponenteFactory.ts
  src/main/resources/static/typescript/infrastructure/gerador/geradorIDComponente.ts
  src/main/resources/static/typescript/infrastructure/pontoExtensor.ts
  src/main/resources/static/typescript/infrastructure/repositorio/repositorioComponente.ts
  src/main/resources/static/typescript/model/command/iCommand.ts
  src/main/resources/static/typescript/model/componente/componenteDiagrama.ts
  src/main/resources/static/typescript/model/componente/componenteDiagramaOuvido.ts
  src/main/resources/static/typescript/model/componente/componenteDiagramaOuvinte.ts
  src/main/resources/static/typescript/model/conexao/abstractComponenteConexao.ts
  src/main/resources/static/typescript/model/conexao/componenteConexaoAngulada.ts
  src/main/resources/static/typescript/model/conexao/componenteConexaoReta.ts
  src/main/resources/static/typescript/model/conexao/fabricaComponenteConexao.ts
  src/main/resources/static/typescript/model/conexao/tipoConexao.ts
  src/main/resources/static/typescript/model/factory/iFactory.ts
  src/main/resources/static/typescript/model/json/valoresJSONComponente.ts
  src/main/resources/static/typescript/model/ponto.ts
  src/main/resources/static/typescript/model/propriedade/propriedadeComponente.ts
  src/main/resources/static/typescript/model/propriedade/propriedadeInnerText.ts
  src/main/resources/static/typescript/model/repositorio/IRepositorio.ts
  src/main/resources/static/typescript/model/repositorio/IRepositorioComponente.ts
  src/main/resources/static/typescript/model/response/responseDiagramaJSON.ts
  src/main/resources/static/typescript/model/response/responseTraducaoJSON.ts
  tsconfig.json
Due: Format with Prettier

[ REFACTOR ] Remoção de abstração desnecessária
  src/main/resources/static/typescript/infrastructure/factory/repositorioComponenteFactory.ts
  src/main/resources/static/typescript/infrastructure/factory/selecionadorComponenteFactory.ts
  src/main/resources/static/typescript/model/factory/iFactory.ts
Due: Format with Prettier

[ FEATURE ] Adição de compilação usando webpack e babel para ajustar os imports absolutos automaticamente e minimizar o código
  .babelrc
  .editorconfig
  gruntfile.js
  package-lock.json
  package.json
  pnpm-lock.yaml
  src/main/resources/static/typescript/application/history/commandHistory.ts
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
  src/main/resources/static/typescript/application/paginas/editor/editorPropriedades.ts
  src/main/resources/static/typescript/application/paginas/editor/manipularComponente.ts
  src/main/resources/static/typescript/application/paginas/editor/selecionadorComponente.ts
  src/main/resources/static/typescript/infrastructure/bindings.ts
  src/main/resources/static/typescript/infrastructure/command/carregarCSSCommand.ts
  src/main/resources/static/typescript/infrastructure/command/carregarDiagramaCommand.ts
  src/main/resources/static/typescript/infrastructure/command/colarComponenteCommand.ts
  src/main/resources/static/typescript/infrastructure/command/copiarComponenteCommand.ts
  src/main/resources/static/typescript/infrastructure/command/cortarComponenteCommand.ts
  src/main/resources/static/typescript/infrastructure/factory/componenteFactory.ts
  src/main/resources/static/typescript/infrastructure/factory/pontoExtensorFactory.ts
  src/main/resources/static/typescript/infrastructure/factory/propriedadeFactory.ts
  src/main/resources/static/typescript/infrastructure/factory/repositorioComponenteFactory.ts
  src/main/resources/static/typescript/infrastructure/factory/selecionadorComponenteFactory.ts
  src/main/resources/static/typescript/infrastructure/repositorio/repositorioComponente.ts
  src/main/resources/static/typescript/model/componente/componenteDiagrama.ts
  src/main/resources/static/typescript/model/componente/componenteDiagramaOuvido.ts
  src/main/resources/static/typescript/model/conexao/abstractComponenteConexao.ts
  src/main/resources/static/typescript/model/conexao/componenteConexaoAngulada.ts
  src/main/resources/static/typescript/model/conexao/componenteConexaoReta.ts
  src/main/resources/static/typescript/model/conexao/fabricaComponenteConexao.ts
  src/main/resources/static/typescript/model/propriedade/propriedadeComponente.ts
  src/main/resources/static/typescript/model/propriedade/propriedadeInnerText.ts
  src/main/resources/static/typescript/model/repositorio/IRepositorioComponente.ts
  src/main/resources/templates/cadastro.html
  src/main/resources/templates/editor.html
  src/main/resources/templates/fragments/cookiesBanner.html
  src/main/resources/templates/index.html
  src/main/resources/templates/login.html
  src/main/resources/templates/novo.html
  tsconfig.json
  webpack.config.js
Due: Format with Prettier

[ REFACTOR ] Remoção de comando redudante e separação do comando de construção da documentação
  justfile
Due: none

[ FIX ] Separação dos arquivos de configuração para não confundir a IDE
  package.json
  src/main/resources/templates/editor.html
  tsconfig-compilation.json
  tsconfig.json
  webpack.config.js
Due: Format with Prettier

[ REFACTOR ] Mudança no nome da classe para se adequar ao resto do projeto
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
  src/main/resources/static/typescript/infrastructure/factory/componenteConexaoFactory.ts
Due: Format with Prettier

[ REFACTOR ] Remoção de constantes em favor de factory estáticas
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
  src/main/resources/static/typescript/application/paginas/editor/editorPropriedades.ts
  src/main/resources/static/typescript/infrastructure/factory/repositorioComponenteFactory.ts
  src/main/resources/static/typescript/infrastructure/factory/selecionadorComponenteFactory.ts
Due: Format with Prettier

[ FEATURE ] Separação das fórmulas de posição absoluta da classe Ponto Extensor para simplificar o código
  src/main/resources/static/typescript/infrastructure/factory/pontoExtensorFactory.ts
  src/main/resources/static/typescript/infrastructure/factory/selecionadorComponenteFactory.ts
  src/main/resources/static/typescript/infrastructure/pontoExtensor.ts
  src/main/resources/static/typescript/model/formulaPosicaoAbsoluta.ts
  src/main/resources/static/typescript/model/posicoes/posicoesRelativasPontoExtensor.ts
Due: Format with Prettier

[ CI ] Remoção de passo desnecessário, pois agora a compilação é feita usando o webpack
  .github/workflows/ci.yml
Due: none

[ ENHANCEMENT ] Ajuste no estilo dos pontos extensores para puxar da paleta e indicar quando o mouse passar por cima
  src/main/resources/config/paleta.template.json
  src/main/resources/static/scss/editor.scss
Due: none

[ FEATURE ] Versão inicial da lógica para trocar o callback com base posição relativa do ponto extensor
  src/main/resources/static/scss/editor.scss
  src/main/resources/static/typescript/infrastructure/factory/pontoExtensorFactory.ts
  src/main/resources/static/typescript/infrastructure/pontoExtensor.ts
Due: Format with Prettier

[ ENHANCEMENT ] Melhoria para ajustar os pontos extensores quando o elemento é movido ou excluído
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
Due: Format with Prettier

[ FIX ] Correção nas fórmulas das setas para posicioná-las apropriadamente
  src/main/resources/static/typescript/application/paginas/editor/selecionadorComponente.ts
Due: Format with Prettier

[ FEATURE ] Versão inicial da novo sistema de redimensionamento de componentes, ainda em progresso
  src/main/resources/static/typescript/infrastructure/factory/pontoExtensorFactory.ts
  src/main/resources/static/typescript/infrastructure/pontoExtensor.ts
Due: Format with Prettier

atualização componentes (incompleto)
  src/main/resources/static/elementos/.elemento.schema.json
  src/main/resources/static/elementos/agregacao.json
  src/main/resources/static/elementos/atributo_der.json
  src/main/resources/static/elementos/entidade.json
  src/main/resources/static/elementos/entidade_relacional.json
  src/main/resources/static/elementos/especializacao.json
  src/main/resources/static/elementos/nota.json
  src/main/resources/static/elementos/relacionamento.json
  src/main/resources/static/elementos/simbolos/agregacao.svg
  src/main/resources/static/elementos/simbolos/atributo_der.svg
  src/main/resources/static/elementos/simbolos/entidade.svg
  src/main/resources/static/elementos/simbolos/entidade_relacional.svg
  src/main/resources/static/elementos/simbolos/especializacao.svg
  src/main/resources/static/elementos/simbolos/nota.svg
  src/main/resources/static/elementos/simbolos/relacionamento.svg
Due: none

[ REFACTOR ] Pequena atualização para que o sistema funcione um pouco melhor ao usar a window ao invés do elemento diretamente
  src/main/resources/static/typescript/infrastructure/factory/pontoExtensorFactory.ts
  src/main/resources/static/typescript/infrastructure/pontoExtensor.ts
Due: Format with Prettier

[ FEATURE ] Ponto extensor BOTTOM agora funciona apropriadamente
  src/main/resources/static/typescript/infrastructure/factory/pontoExtensorFactory.ts
Due: Format with Prettier

[ FEATURE ] Implementação da funcionalidade do ponto extensor CENTER_RIGHT
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
  src/main/resources/static/typescript/infrastructure/factory/pontoExtensorFactory.ts
Due: Format with Prettier

[ FEATURE ] Adição da funcionalide dos pontos extensores TOP e CENTER_LEFT
  src/main/resources/static/typescript/infrastructure/factory/pontoExtensorFactory.ts
Due: Format with Prettier

[ FEATURE ] Adição da funcionalidade dos pontos extensores BOTTOM_LEFT E BOTTOM_RIGHT
  src/main/resources/static/typescript/infrastructure/factory/pontoExtensorFactory.ts
Due: Format with Prettier

[ FEATURE ] Adição da funcionalidade dos pontos extensores TOP_LEFT e TOP_RIGHT
  src/main/resources/static/typescript/infrastructure/factory/pontoExtensorFactory.ts
Due: Format with Prettier

[ REFACTOR ] Separação das setas conectoras numa classe distinta para reduzir o código do selecionador de componentes
  src/main/resources/static/typescript/application/paginas/editor/selecionadorComponente.ts
  src/main/resources/static/typescript/infrastructure/factory/pontoExtensorFactory.ts
  src/main/resources/static/typescript/infrastructure/factory/selecionadorComponenteFactory.ts
  src/main/resources/static/typescript/infrastructure/factory/setaConectoraFactory.ts
  src/main/resources/static/typescript/infrastructure/pontoExtensor.ts
  src/main/resources/static/typescript/infrastructure/setaConectora.ts
  src/main/resources/static/typescript/model/formula/formulaPosicaoAbsoluta.ts
  src/main/resources/static/typescript/model/formula/formulaPosicaoSeta.ts
  src/main/resources/static/typescript/model/posicoes/posicoesRelativasSetasConectoras.ts
Due: Format with Prettier

[ FIX ] Ajuste para ajustar as conexões ao redimensionar elemento
  src/main/resources/static/typescript/application/paginas/editor/selecionadorComponente.ts
  src/main/resources/static/typescript/infrastructure/factory/pontoExtensorFactory.ts
Due: Format with Prettier

[ DOCS ] Atualização da documentação para o restante das opções de configuração
  docs/configuração.md
Due: none

[ FEATURE ] Agora os botões de criar elemento mostra um símbolo do elemento associado
  src/main/resources/static/elementos/simbolos/atributo_der.svg
  src/main/resources/static/elementos/simbolos/entidade.svg
  src/main/resources/static/elementos/simbolos/especializacao.svg
  src/main/resources/static/elementos/simbolos/nota.svg
  src/main/resources/static/elementos/simbolos/relacionamento.svg
  src/main/resources/static/elementos/simbolos/texto.svg
  src/main/resources/static/scss/editor.scss
  src/main/resources/static/typescript/infrastructure/command/carregarDiagramaCommand.ts
Due: Format with Prettier

[ FIX ] Correção de bug que impedia o recarregamento da configuração
  src/main/java/io/github/heberbarra/modelador/infrastructure/configurador/Configurador.java
Due: Format with Spotless

[ VERSION ] Atualização da versão do programa
  build.gradle.kts
Due: none

[ FIX ] Correção na configuração do TypeScript para se adequar à versão 6.0.0
  pnpm-lock.yaml
  src/main/resources/static/typescript/infrastructure/factory/componenteFactory.ts
  src/main/resources/static/typescript/infrastructure/pontoExtensor.ts
  tsconfig-compilation.json
Due: Format with Prettier

[ FEATURE ] Adição de função para integrar melhor o mkdocs com o mike
  mkdocs.yml
Due: none

Path conditions:
  Format with Spotless: any of: \.java$
  Format with Prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$
