Repository Heber-Modelo/heber-modelo: changes, and which pre-commit hooks are due for each by the changed paths.
All: Format with Spotless, Format with Prettier

.pre-commit-config.yaml:

fail_fast: true
default_language_version:
  python: 3.13.11
repos:
  - repo: local
    hooks:
      - id: Format with Spotless
        name: Format with Spotless
        types: [java]
        entry: gradle spotlessJavaApply
        language: unsupported
        stages: [pre-commit]
        pass_filenames: false
      - id: Format with Prettier
        name: Format with Prettier
        types_or: [html, javascript, ts]
        entry: npx prettier --write
        language: node
        stages: [pre-commit]

[ REFACTOR ] Transformação dos ícones svg em fragments para melhorar a organização do arquivo
  src/main/resources/templates/editor.html
  src/main/resources/templates/fragments/editor/icons/copy.html
  src/main/resources/templates/fragments/editor/icons/cut.html
  src/main/resources/templates/fragments/editor/icons/delete.html
  src/main/resources/templates/fragments/editor/icons/deleteAll.html
  src/main/resources/templates/fragments/editor/icons/file.html
  src/main/resources/templates/fragments/editor/icons/pages.html
  src/main/resources/templates/fragments/editor/icons/paste.html
  src/main/resources/templates/fragments/editor/icons/redo.html
  src/main/resources/templates/fragments/editor/icons/undo.html
Due: Format with Prettier

[ FEATURE ] Adição de seletor especializado para cardinalidade, agora só permite escolher de uma lista de valores
  src/main/resources/static/elementos/.elemento.schema.json
  src/main/resources/static/elementos/cardinalidade.json
  src/main/resources/static/elementos/texto.json
  src/main/resources/static/scss/elementos/cardinalidade.scss
  src/main/resources/static/typescript/infrastructure/command/conectarComponentesCommand.ts
  src/main/resources/static/typescript/infrastructure/command/conectarDuasEntidadesCommand.ts
  src/main/resources/static/typescript/infrastructure/factory/componenteFactory.ts
  src/main/resources/static/typescript/infrastructure/factory/propriedadeFactory.ts
  src/main/resources/static/typescript/model/componente/componenteCardinalidadeRelacionamento.ts
  src/main/resources/static/typescript/model/json/valoresJSONComponente.ts
  src/main/resources/static/typescript/model/propriedade/propriedadeComponente.ts
  src/main/resources/static/typescript/model/propriedade/propriedadeSelecionavel.ts
Due: Format with Prettier

[ FEATURE ] Finalização do protótipo página de listagem de estudantes
  src/main/java/io/github/heberbarra/modelador/ControladorWeb.java
  src/main/resources/messages.properties
  src/main/resources/messages_en.properties
  src/main/resources/messages_pt.properties
  src/main/resources/static/scss/listagemEstudantes.scss
  src/main/resources/templates/configurarSessao.html
  src/main/resources/templates/listagemEstudantes.html
Due: Format with Spotless, Format with Prettier

[ REFACTOR ] Ajustes nas páginas de criar e entrar sessão
  src/main/resources/templates/criarSessao.html
  src/main/resources/templates/entrarSessao.html
Due: Format with Prettier

[ REFACTOR ] Padronização e simplificação das mensagens de erros dos CommandBuilder
  src/main/resources/static/typescript/infrastructure/command/apagarComponenteCommand.ts
  src/main/resources/static/typescript/infrastructure/command/apagarTodosComponentesCommand.ts
  src/main/resources/static/typescript/infrastructure/command/carregarCSSCommand.ts
  src/main/resources/static/typescript/infrastructure/command/carregarDiagramaCommand.ts
  src/main/resources/static/typescript/infrastructure/command/colarComponenteCommand.ts
  src/main/resources/static/typescript/infrastructure/command/conectarAtributoCommand.ts
  src/main/resources/static/typescript/infrastructure/command/conectarComponentesCommand.ts
  src/main/resources/static/typescript/infrastructure/command/conectarDuasEntidadesCommand.ts
  src/main/resources/static/typescript/infrastructure/command/copiarComponenteCommand.ts
  src/main/resources/static/typescript/infrastructure/command/cortarComponenteCommand.ts
  src/main/resources/static/typescript/infrastructure/command/criarComponenteCommand.ts
  src/main/resources/static/typescript/model/exception/commandBuilderException.ts
Due: Format with Prettier

[ FIX ] Correções nos formulários das páginas de criar e entrar sessão
  src/main/resources/templates/criarSessao.html
  src/main/resources/templates/entrarSessao.html
Due: Format with Prettier

[ FEATURE ] Criação de protótipos para as telas de listagem de atividades e de feedback
  src/main/java/io/github/heberbarra/modelador/ControladorWeb.java
  src/main/resources/messages.properties
  src/main/resources/messages_en.properties
  src/main/resources/messages_pt.properties
  src/main/resources/static/scss/listagemAtividades.scss
  src/main/resources/static/scss/listagemAtividadesCorrecao.scss
  src/main/resources/templates/listagemAtividades.html
  src/main/resources/templates/listagemAtividadesCorrecao.html
Due: Format with Spotless, Format with Prettier

[ ENHANCEMENT ] Melhoria no protótipo da página de configurar sessão
  src/main/resources/messages.properties
  src/main/resources/messages_en.properties
  src/main/resources/messages_pt.properties
  src/main/resources/static/scss/configurarSessao.scss
  src/main/resources/templates/configurarSessao.html
Due: Format with Prettier

[ FIX ] Correção dos botões da página anexar atividade
  src/main/resources/templates/anexarAtividade.html
Due: Format with Prettier

[ FEATURE ] Adição de botões para fechar sessão e para acessar atividades na página de listar estudantes
  src/main/resources/messages.properties
  src/main/resources/messages_en.properties
  src/main/resources/messages_pt.properties
  src/main/resources/static/scss/listagemEstudantes.scss
  src/main/resources/templates/listagemEstudantes.html
Due: Format with Prettier

[ FIX ] Correção no botão de deletar todos os componentes, agora funciona apropriadamente
  src/main/resources/static/typescript/infrastructure/command/apagarTodosComponentesCommand.ts
  src/main/resources/static/typescript/infrastructure/repositorio/repositorioComponente.ts
  src/main/resources/static/typescript/model/repositorio/iRepositorio.ts
Due: Format with Prettier

Atualização do símbolo de relacionamento
  src/main/resources/static/elementos/simbolos/relacionamento.svg
Due: none

[ IDEA ] Mudança na configuração do Intellij Idea para permitir rodar o programa por ele
  .gitignore
  .idea/runConfigurations/Principal.xml
  src/main/java/io/github/heberbarra/modelador/Principal.java
Due: Format with Spotless

[ ENHANCEMENT ] Modificação para criar atributo com base na posição do mouse
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
  src/main/resources/static/typescript/infrastructure/command/conectarAtributoCommand.ts
Due: Format with Prettier

[ FIX ] Correção para mostrar pontos extensores só quando selecionar componente
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
Due: Format with Prettier

[ ENHANCEMENT ] Mudança no estilo dos componentes para alternar o cursor quando passar por um texto editável
  src/main/resources/static/scss/editor.scss
Due: none

[ FIX ] Agora os atributos ficam alinhados à entidade quando criados
  src/main/resources/static/typescript/infrastructure/command/conectarAtributoCommand.ts
Due: Format with Prettier

[ VERSÃO ] Atualização da versão do programa
  build.gradle.kts
Due: none

[ FIX ] Aplicação do estilo padrão do projeto
  .pre-commit-config.yaml
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
  src/main/resources/static/typescript/infrastructure/command/conectarAtributoCommand.ts
  src/main/resources/static/typescript/infrastructure/factory/repositorioTiposDiagramaFactory.ts
  src/main/resources/static/typescript/infrastructure/repositorio/repositorioTiposDiagrama.ts
  src/main/resources/static/typescript/model/repositorio/iRepositorioTiposDiagrama.ts
  src/main/resources/templates/anexarAtividade.html
  src/main/resources/templates/cadastro.html
  src/main/resources/templates/configurarSessao.html
  src/main/resources/templates/criarSessao.html
  src/main/resources/templates/entrarSessao.html
  src/main/resources/templates/fragments/index/icons/desligar.html
  src/main/resources/templates/fragments/index/icons/docs.html
  src/main/resources/templates/fragments/index/icons/novo.html
  src/main/resources/templates/fragments/index/icons/sessao.html
  src/main/resources/templates/listagemAtividades.html
  src/main/resources/templates/listagemAtividadesCorrecao.html
  src/main/resources/templates/listagemEstudantes.html
  src/main/resources/templates/login.html
Due: Format with Prettier

[ FIX ] Mudança para o novo nome da biblioteca do hibernate
  gradle/libs.versions.toml
Due: none

[ CI ] Mudança na versão do Java usada pelo workflow de CI
  .github/workflows/ci.yml
Due: none

[ GRADLE ] Ajustes das terminações do gradlew.bat
  gradlew.bat
Due: none

[ FEATURE ] Adição de botão para criar cardinalidade no DER
  src/main/resources/messages.properties
  src/main/resources/messages_en.properties
  src/main/resources/messages_pt.properties
  src/main/resources/static/diagramas/der.json
Due: none

[ REFACTOR ] Inversão das posições do seletor e das propriedades
  src/main/resources/static/scss/editor.scss
  src/main/resources/templates/editor.html
Due: Format with Prettier

[ REFACTOR ] Renomeação de textoCardinalidade para somente texto
  src/main/resources/static/typescript/model/propriedade/propriedadeSelecionavel.ts
Due: Format with Prettier

Início do sistema de troca de páginas
  src/main/resources/config/paleta.template.json
  src/main/resources/static/scss/editor.scss
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
  src/main/resources/templates/editor.html
Due: Format with Prettier

[ FEATURE ] Implementação inicial do sistema de trocar os pontos de uma conexão
  src/main/resources/static/elementos/conexao_angulada.json
  src/main/resources/static/scss/elementos/conexao_angulada.scss
  src/main/resources/static/typescript/model/componente/componenteConexaoAngulada.ts
Due: Format with Prettier
