Repository Heber-Modelo/heber-modelo: changes, and which pre-commit hooks are due for each by the changed paths.
All: Format with Spotless, Format with Prettier

.pre-commit-config.yaml:

fail_fast: true
default_language_version:
  python: 3.13.11
repos:
  - repo: local
    hooks:
      - id: Format with Spotless
        name: Format with Spotless
        types: [java]
        entry: gradle spotlessJavaApply
        language: unsupported
        stages: [pre-commit]
        pass_filenames: false
      - id: Format with Prettier
        name: Format with Prettier
        types_or: [html, javascript, ts]
        entry: npx prettier --write
        language: node
        stages: [pre-commit]

[ GIT ] Configuração para o git não modificar o gradle-wrapper.jar
  .gitattributes
Due: none

[ FEATURE ] Versão inicial do sistema de conexão automática de atributos
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
  src/main/resources/static/typescript/infrastructure/command/conectarAtributoCommand.ts
Due: Format with Prettier

[ VERSÃO ] Atualização da versão do programa
  build.gradle.kts
Due: none

Alterações nas mensagens pedidas pela professora coorientadora, mais adição de mensagens para o conversor
  src/main/resources/messages.properties
  src/main/resources/messages_en.properties
  src/main/resources/messages_pt.properties
Due: none

Continuação da explicação sobre os diagramas
  docs/diagramas/descricaoModeloRelacional.md
  docs/diagramas/diagramaEntidadeRelacionamento.md
  docs/diagramas/diagramaModeloRelacional.md
  docs/diagramas/dicionárioDados.md
  docs/diagramas/modeloRelacional.md
  mkdocs.yml
Due: none

Nova página de listagem
  src/main/java/io/github/heberbarra/modelador/ControladorWeb.java
  src/main/resources/messages.properties
  src/main/resources/messages_en.properties
  src/main/resources/messages_pt.properties
  src/main/resources/static/scss/listagemEstudantes.scss
  src/main/resources/templates/listagemEstudantes.html
Due: Format with Spotless, Format with Prettier

mudanças no editor
  src/main/resources/static/scss/editor.scss
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
  src/main/resources/templates/editor.html
Due: Format with Prettier

adição na toolbar - páginas
  src/main/resources/messages.properties
  src/main/resources/messages_en.properties
  src/main/resources/messages_pt.properties
  src/main/resources/templates/editor.html
Due: Format with Prettier

Alteração na parte de páginas
  src/main/resources/static/scss/editor.scss
  src/main/resources/templates/editor.html
Due: Format with Prettier

alterações em listagem de alunos
  src/main/resources/static/scss/listagemEstudantes.scss
  src/main/resources/templates/listagemEstudantes.html
Due: Format with Prettier

[ DOC ] Correção de erro de digitação e informação sobre os plugins
  README.md
Due: none

[ REFACTOR ] Organização de imports e separação do arquivo manipularComponente
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
  src/main/resources/static/typescript/infrastructure/moverComponente.ts
  src/main/resources/static/typescript/model/direcoesMovimento.ts
Due: Format with Prettier

[ REFACTOR ] Mudança na estrutura de arquivos a fim de melhorar a posição do PontoExtensor e da SetaConectora
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
  src/main/resources/static/typescript/application/paginas/editor/selecionadorComponente.ts
  src/main/resources/static/typescript/infrastructure/factory/pontoExtensorFactory.ts
  src/main/resources/static/typescript/infrastructure/factory/selecionadorComponenteFactory.ts
  src/main/resources/static/typescript/infrastructure/factory/setaConectoraFactory.ts
  src/main/resources/static/typescript/infrastructure/seletorTipoConexao.ts
  src/main/resources/static/typescript/model/pontoExtensor.ts
  src/main/resources/static/typescript/model/setaConectora.ts
Due: Format with Prettier

[ FIX ] Pequena mudança para impedir o body de dar overflow
  src/main/resources/static/scss/editor.scss
Due: none

[ ENHANCEMENT ] Modificação no .gitignore para evitar adições de arquivos svg desnecessários
  .gitignore
Due: none

[ REFACTOR ] Transformação dos ícones svg em fragments para melhorar a organização do arquivo
  src/main/resources/templates/editor.html
  src/main/resources/templates/fragments/editor/icons/copy.html
  src/main/resources/templates/fragments/editor/icons/cut.html
  src/main/resources/templates/fragments/editor/icons/delete.html
  src/main/resources/templates/fragments/editor/icons/deleteAll.html
  src/main/resources/templates/fragments/editor/icons/file.html
  src/main/resources/templates/fragments/editor/icons/pages.html
  src/main/resources/templates/fragments/editor/icons/paste.html
  src/main/resources/templates/fragments/editor/icons/redo.html
  src/main/resources/templates/fragments/editor/icons/undo.html
Due: Format with Prettier

[ REFACTOR ] Padronização dos CommandBuilder
  src/main/resources/static/typescript/infrastructure/command/apagarComponenteCommand.ts
  src/main/resources/static/typescript/infrastructure/command/apagarTodosComponentesCommand.ts
  src/main/resources/static/typescript/infrastructure/command/carregarCSSCommand.ts
  src/main/resources/static/typescript/infrastructure/command/carregarDiagramaCommand.ts
  src/main/resources/static/typescript/infrastructure/command/colarComponenteCommand.ts
  src/main/resources/static/typescript/infrastructure/command/conectarAtributoCommand.ts
  src/main/resources/static/typescript/infrastructure/command/conectarComponentesCommand.ts
  src/main/resources/static/typescript/infrastructure/command/conectarDuasEntidadesCommand.ts
  src/main/resources/static/typescript/infrastructure/command/copiarComponenteCommand.ts
  src/main/resources/static/typescript/infrastructure/command/cortarComponenteCommand.ts
  src/main/resources/static/typescript/infrastructure/command/criarComponenteCommand.ts
Due: Format with Prettier

[ REFACTOR ] Padronização e simplificação das mensagens de erros dos CommandBuilder
  src/main/resources/static/typescript/infrastructure/command/apagarComponenteCommand.ts
  src/main/resources/static/typescript/infrastructure/command/apagarTodosComponentesCommand.ts
  src/main/resources/static/typescript/infrastructure/command/carregarCSSCommand.ts
  src/main/resources/static/typescript/infrastructure/command/carregarDiagramaCommand.ts
  src/main/resources/static/typescript/infrastructure/command/colarComponenteCommand.ts
  src/main/resources/static/typescript/infrastructure/command/conectarAtributoCommand.ts
  src/main/resources/static/typescript/infrastructure/command/conectarComponentesCommand.ts
  src/main/resources/static/typescript/infrastructure/command/conectarDuasEntidadesCommand.ts
  src/main/resources/static/typescript/infrastructure/command/copiarComponenteCommand.ts
  src/main/resources/static/typescript/infrastructure/command/cortarComponenteCommand.ts
  src/main/resources/static/typescript/infrastructure/command/criarComponenteCommand.ts
  src/main/resources/static/typescript/model/exception/commandBuilderException.ts
Due: Format with Prettier

[ GRADLE ] Atualização para o Java 25
  build.gradle.kts
Due: none

[ FIX ] Correção de tipagem para se adequar ao novo padrão dos builders
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
Due: Format with Prettier

Ajuste no label de botões da toolbar para deixar o propósito mais claro
  src/main/resources/messages.properties
  src/main/resources/messages_en.properties
  src/main/resources/messages_pt.properties
Due: none

Mudança na cor padrão dos componentes selecionados a pedido da coorientadora
  src/main/resources/config/paleta.template.json
Due: none

Alterações no layout da tela de listagem de estudantes
  src/main/java/io/github/heberbarra/modelador/ControladorWeb.java
  src/main/resources/static/scss/listagemEstudantes.scss
  src/main/resources/templates/anexarAtividade.html
  src/main/resources/templates/fragments/listagemEstudantes/icons/config.html
  src/main/resources/templates/fragments/listagemEstudantes/icons/home.html
  src/main/resources/templates/fragments/listagemEstudantes/icons/notify.html
  src/main/resources/templates/listagemEstudantes.html
Due: Format with Spotless, Format with Prettier

Alteração na tela de listagem
  src/main/resources/static/scss/listagemEstudantes.scss
  src/main/resources/templates/fragments/listagemEstudantes/icons/email.html
  src/main/resources/templates/fragments/listagemEstudantes/icons/profile.html
  src/main/resources/templates/listagemEstudantes.html
Due: Format with Prettier

[ FEATURE ] Adição de seletor especializado para cardinalidade, agora só permite escolher de uma lista de valores
  src/main/resources/static/elementos/.elemento.schema.json
  src/main/resources/static/elementos/cardinalidade.json
  src/main/resources/static/elementos/texto.json
  src/main/resources/static/scss/elementos/cardinalidade.scss
  src/main/resources/static/typescript/infrastructure/command/conectarComponentesCommand.ts
  src/main/resources/static/typescript/infrastructure/command/conectarDuasEntidadesCommand.ts
  src/main/resources/static/typescript/infrastructure/factory/componenteFactory.ts
  src/main/resources/static/typescript/infrastructure/factory/propriedadeFactory.ts
  src/main/resources/static/typescript/model/componente/componenteCardinalidadeRelacionamento.ts
  src/main/resources/static/typescript/model/json/valoresJSONComponente.ts
  src/main/resources/static/typescript/model/propriedade/propriedadeComponente.ts
  src/main/resources/static/typescript/model/propriedade/propriedadeSelecionavel.ts
Due: Format with Prettier

[ REFACTOR ] Ajustes nas páginas de criar e entrar sessão
  src/main/resources/templates/criarSessao.html
  src/main/resources/templates/entrarSessao.html
Due: Format with Prettier

[ REFACTOR ] Fragmentação dos ícones da página inicial
  src/main/resources/templates/fragments/index/icons/desligar.html
  src/main/resources/templates/fragments/index/icons/docs.html
  src/main/resources/templates/fragments/index/icons/novo.html
  src/main/resources/templates/fragments/index/icons/sessao.html
  src/main/resources/templates/index.html
Due: Format with Prettier

[ FEATURE ] Finalização do protótipo página de listagem de estudantes
  src/main/java/io/github/heberbarra/modelador/ControladorWeb.java
  src/main/resources/messages.properties
  src/main/resources/messages_en.properties
  src/main/resources/messages_pt.properties
  src/main/resources/static/scss/listagemEstudantes.scss
  src/main/resources/templates/configurarSessao.html
  src/main/resources/templates/listagemEstudantes.html
Due: Format with Spotless, Format with Prettier
