Repository Heber-Modelo/heber-modelo: changes, and which pre-commit hooks are due for each by the changed paths.
All: Format with Spotless, Format with Prettier

Format with Spotless:
  name: Format with Spotless
  entry: gradle spotlessJavaApply
  language: unsupported
  stages:
  - pre-commit
  pass_filenames: false

Format with Prettier:
  name: Format with Prettier
  entry: npx prettier --write
  language: node
  stages:
  - pre-commit

[ ENHANCEMENT ] Melhorias visuais no diagrama do modelo relacional
  src/main/resources/static/diagramas/drl.json
  src/main/resources/static/scss/elementos/entidade_relacional.scss
  src/main/resources/static/typescript/application/paginas/editor/callbacksElementos.ts
Due: Format with Prettier

[ FEATURE ] Funcionalidade para expandir a entidade relacional automaticamente
  src/main/resources/static/scss/elementos/entidade_relacional.scss
  src/main/resources/static/typescript/application/paginas/editor/callbacksElementos.ts
Due: Format with Prettier

[ FEATURE ] Adição de comando para conectar duas entidades relacionais com criação automática de cardinalidade
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
  src/main/resources/static/typescript/infrastructure/command/conectarDuasEntidadesRelacionaisCommand.ts
  src/main/resources/static/typescript/model/services/pegarLateralComponenteOposta.ts
Due: Format with Prettier

[ ENHANCEMENT ] Adição de borda para cardinalidades e textos selecionados
  src/main/resources/static/scss/elementos/cardinalidade.scss
  src/main/resources/static/scss/elementos/texto.scss
Due: none

[ FEATURE ] Botão para esconder a barra de tarefas para que a área de edição tenha mais espaço
  src/main/resources/static/scss/editor.scss
  src/main/resources/static/scss/estilosEditor/_estiloBarraDeTarefas.scss
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
  src/main/resources/templates/editor.html
  src/main/resources/templates/fragments/common/icons/home.html
  src/main/resources/templates/fragments/header.html
Due: Format with Prettier

[ VERSÃO ] Atualização da versão do programa
  build.gradle.kts
Due: none

Modificação nos formulários para criar objeto de sessão
  src/main/java/io/github/heberbarra/modelador/ControladorWeb.java
  src/main/java/io/github/heberbarra/modelador/domain/model/Sessao.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/factory/SessaoFactory.java
  src/main/resources/messages.properties
  src/main/resources/messages_en.properties
  src/main/resources/messages_pt.properties
  src/main/resources/templates/entrarSessao.html
Due: Format with Spotless, Format with Prettier

[ FEATURE ] Finalização do sistema de verificação do tipo usuário: professor ou estudante
  src/main/java/io/github/heberbarra/modelador/ControladorWeb.java
  src/main/java/io/github/heberbarra/modelador/Principal.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/data/DataSourceBuilder.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/factory/SessaoFactory.java
  src/main/resources/messages.properties
  src/main/resources/messages_en.properties
  src/main/resources/messages_pt.properties
Due: Format with Spotless

[ FIX ] Ajuste na tabela do dicionário de dados para funcionar apropriadamente no google chrome
  src/main/resources/static/scss/elementos/tabela_dicionario.scss
Due: none

[ FEATURE ] Aprimoramento e finalização da funcionalidade de trocar o tipo da conexão selecionada
  src/main/resources/messages.properties
  src/main/resources/messages_en.properties
  src/main/resources/messages_pt.properties
  src/main/resources/static/elementos/conexao_entidade_fraca.json
  src/main/resources/static/elementos/conexao_reta.json
  src/main/resources/static/elementos/conexao_seta.json
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
  src/main/resources/static/typescript/application/paginas/helperSeletorTipoDiagrama.ts
  src/main/resources/static/typescript/infrastructure/command/trocarTipoConexaoCommand.ts
  src/main/resources/static/typescript/infrastructure/registrador/registradorEventosElemento.ts
  src/main/resources/static/typescript/model/componente/abstractComponenteConexao.ts
  src/main/resources/static/typescript/model/componente/componenteConexaoAngulada.ts
  src/main/resources/static/typescript/model/componente/componenteDiagrama.ts
  webpack.config.js
Due: Format with Prettier

[ FEATURE ] Funcionalidade para permitir trocar propriedades dos ouvintes do componente selecionado
  src/main/resources/static/typescript/application/paginas/editor/editorPropriedades.ts
Due: Format with Prettier

[ FIX ] Correção no método salvar para fazer a request apropriada para o backend
  src/main/java/io/github/heberbarra/modelador/domain/model/xml/DiagramaXML.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/controller/ControladorDiagramaXML.java
  src/main/resources/static/typescript/application/paginas/editor/salvar.ts
Due: Format with Spotless, Format with Prettier

Correção das mensagens
  src/main/resources/messages.properties
  src/main/resources/messages_en.properties
  src/main/resources/messages_pt.properties
Due: none

[ FIX ] Correção no seletor de diagramas
  src/main/resources/static/typescript/application/paginas/helperSeletorTipoDiagrama.ts
  src/main/resources/templates/editor.html
Due: Format with Prettier

[ FEATURE ] Funcionalidade para adicionar id da aba ativa aos componentes
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
Due: Format with Prettier

Alterações nas mensagens pedidas pela professora coorientadora, mais adição de mensagens para o conversor
  src/main/resources/messages.properties
  src/main/resources/messages_pt.properties
Due: none

Funcionalidade de nomear as abas do editor
  .idea/codeStyles/Project.xml
Due: none

Continuação da explicação sobre os diagramas
  docs/diagramas/descricaoModeloRelacional.md
  docs/diagramas/diagramaEntidadeRelacionamento.md
  docs/diagramas/diagramaModeloRelacional.md
  docs/diagramas/dicionárioDados.md
  docs/diagramas/modeloRelacional.md
  mkdocs.yml
Due: none

[ REFACTOR ] Simplificação dos nomes dos elementos
  src/main/resources/messages.properties
  src/main/resources/messages_en.properties
  src/main/resources/messages_pt.properties
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
Due: Format with Prettier

Path conditions:
  Format with Spotless: any of: \.java$
  Format with Prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$
