Repository Heber-Modelo/heber-modelo: changes, and which pre-commit hooks are due for each by the changed paths.
All: Format with Spotless, Format with Prettier

Format with Spotless:
  name: Format with Spotless
  entry: gradle spotlessJavaApply
  language: unsupported
  stages:
  - pre-commit
  pass_filenames: false

Format with Prettier:
  name: Format with Prettier
  entry: npx prettier --write
  language: node
  stages:
  - pre-commit

alteração no arquivo da toolbar
  src/main/resources/messages.properties
  src/main/resources/messages_en.properties
  src/main/resources/messages_pt.properties
  src/main/resources/static/scss/editor.scss
  src/main/resources/templates/editor.html
Due: Format with Prettier

Reparos na main do editor
  src/main/resources/config/paleta.template.json
  src/main/resources/static/scss/editor.scss
Due: none

[ FIX ] Correção para os arquivos do gradle usarem os terminadores de linha certos
  gradle/wrapper/gradle-wrapper.jar
  gradlew.bat
Due: none

[ FIX ] Adição de chave de tradução para o seletor tipo de conexão
  src/main/resources/messages.properties
  src/main/resources/messages_en.properties
  src/main/resources/messages_pt.properties
  src/main/resources/templates/editor.html
Due: Format with Prettier

[ ENHANCEMENT ] Mudança na cor padrão da grade para uma cor mais clara a fim de facilitar a visualização do usuário
  src/main/resources/config/paleta.template.json
Due: none

[ DOC ] Ajustes no README e adição de passo a passo para compilação manual
  README.md
Due: none

[ ENHANCEMENT ] Modificação para as setas aparecerem somente quando o mouse passa sobre elas e redução do seu tamanho
  src/main/resources/static/scss/editor.scss
  src/main/resources/templates/editor.html
Due: Format with Prettier

[ FEATURE ] Funcionalidade para remover seleção ao clicar no espaço em branco do editor
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
Due: Format with Prettier

[ FEATURE ] Criação de command de criação de elementos Agora é possível fazer undo e redo dessa operação
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
  src/main/resources/static/typescript/infrastructure/command/criarComponenteCommand.ts
Due: Format with Prettier

[ FEATURE ] Conexões agora são selecionáveis, e adição de atributo de recebimento de setas nos componentes
  src/main/resources/static/elementos/.elemento.schema.json
  src/main/resources/static/elementos/agregacao.json
  src/main/resources/static/elementos/atributo_der.json
  src/main/resources/static/elementos/classe.json
  src/main/resources/static/elementos/conexao_angulada.json
  src/main/resources/static/elementos/conexao_entidade_fraca.json
  src/main/resources/static/elementos/conexao_reta.json
  src/main/resources/static/elementos/conexao_seta.json
  src/main/resources/static/elementos/entidade.json
  src/main/resources/static/elementos/entidade_relacional.json
  src/main/resources/static/elementos/especializacao.json
  src/main/resources/static/elementos/nota.json
  src/main/resources/static/elementos/relacionamento.json
  src/main/resources/static/elementos/texto.json
  src/main/resources/static/scss/elementos/conexao_angulada.scss
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
  src/main/resources/static/typescript/application/paginas/editor/selecionadorComponente.ts
  src/main/resources/static/typescript/infrastructure/command/conectarComponentesCommand.ts
  src/main/resources/static/typescript/infrastructure/factory/componenteFactory.ts
  src/main/resources/static/typescript/infrastructure/factory/registradorEventosConexaoFactory.ts
  src/main/resources/static/typescript/infrastructure/registrador/registradorEventosConexao.ts
  src/main/resources/static/typescript/model/componente/componenteDiagrama.ts
  src/main/resources/static/typescript/model/json/valoresJSONComponente.ts
Due: Format with Prettier

[ FEATURE ] Adição de chaves de tradução para os nomes das conexões
  src/main/resources/messages.properties
  src/main/resources/messages_en.properties
  src/main/resources/messages_pt.properties
  src/main/resources/static/typescript/infrastructure/conexao/seletorTipoConexao.ts
  src/main/resources/static/typescript/infrastructure/helper/helperTraducaoConexao.ts
Due: Format with Prettier

[ REFACTOR ] Separação do command ConectarComponentes em dois, com um específico para duas entidades, a fim de facilitar implementações de algumas funcionalidades
  gradle/wrapper/gradle-wrapper.properties
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
  src/main/resources/static/typescript/infrastructure/command/conectarComponentesCommand.ts
  src/main/resources/static/typescript/infrastructure/command/conectarDuasEntidadesCommand.ts
  src/main/resources/templates/index.html
Due: Format with Prettier

[ FIX ] Remoção de código duplicado por acidente durante merge
  src/main/resources/static/scss/editor.scss
Due: none

[ FEATURE ] Funcionalidade para adicionar cardinalidade automaticamente ao criar um relacionamento
  src/main/resources/static/typescript/infrastructure/command/conectarComponentesCommand.ts
  src/main/resources/static/typescript/infrastructure/command/conectarDuasEntidadesCommand.ts
  src/main/resources/static/typescript/infrastructure/factory/componenteConexaoFactory.ts
  src/main/resources/static/typescript/infrastructure/repositorio/repositorioComponente.ts
  src/main/resources/static/typescript/model/componente/abstractComponenteConexao.ts
  src/main/resources/static/typescript/model/componente/componenteCardinalidadeRelacionamento.ts
  src/main/resources/static/typescript/model/componente/componenteConexaoAngulada.ts
  src/main/resources/static/typescript/model/componente/componenteConexaoReta.ts
Due: Format with Prettier

[ FEATURE ] Adição de funcionalidade de redo no CarregarCSSCommand
  src/main/resources/static/typescript/infrastructure/command/carregarCSSCommand.ts
  src/main/resources/templates/editor.html
Due: Format with Prettier

[ FIX ] Ajuste no redo do CriarComponenteCommand para funcionar apropriadamente
  src/main/resources/static/typescript/infrastructure/command/criarComponenteCommand.ts
Due: Format with Prettier

[ ENHANCEMENT ] Ajustes nos commands para reaplicar os ouvintes dos componentes
  src/main/resources/static/typescript/infrastructure/command/conectarComponentesCommand.ts
  src/main/resources/static/typescript/infrastructure/command/conectarDuasEntidadesCommand.ts
  src/main/resources/static/typescript/model/componente/componenteCardinalidadeRelacionamento.ts
Due: Format with Prettier

[ FEATURE ] Funcionalidade para posicionar cardinalidades automaticamente ao criar um relacionamento
  src/main/resources/static/typescript/application/paginas/editor/manipularComponente.ts
  src/main/resources/static/typescript/infrastructure/command/conectarComponentesCommand.ts
  src/main/resources/static/typescript/infrastructure/command/conectarDuasEntidadesCommand.ts
  src/main/resources/static/typescript/infrastructure/factory/pontoExtensorFactory.ts
  src/main/resources/static/typescript/infrastructure/factory/setaConectoraFactory.ts
  src/main/resources/static/typescript/model/componente/componenteCardinalidadeRelacionamento.ts
  src/main/resources/static/typescript/model/componente/componenteConexaoAngulada.ts
  src/main/resources/static/typescript/model/componente/componenteDiagrama.ts
  src/main/resources/static/typescript/model/services/calcularAnguloDoisPontos.ts
  src/main/resources/static/typescript/model/services/converterPixeisParaNumero.ts
  src/main/resources/static/typescript/model/services/converterRadianosParaGraus.ts
Due: Format with Prettier

[ WIP ] Criação de Command para conectar atributos automaticamente a entidades e relacionamentos
  src/main/resources/static/typescript/infrastructure/command/conectarAtributoCommand.ts
Due: Format with Prettier

[ PNPM ] Adição de arquivo de configuração do pnpm para permitir a instalação das dependências
  pnpm-workspace.yaml
Due: none

[ REFACTOR ] Separação do command ConectarComponentes em dois, com um específico para duas entidades, a fim de facilitar implementações de algumas funcionalidades
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
  src/main/resources/static/typescript/infrastructure/command/conectarComponentesCommand.ts
  src/main/resources/static/typescript/infrastructure/command/conectarDuasEntidadesCommand.ts
  src/main/resources/templates/index.html
Due: Format with Prettier

[ FEATURE ] Versão inicial do sistema de conexão automática de atributos
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
  src/main/resources/static/typescript/infrastructure/command/conectarAtributoCommand.ts
Due: Format with Prettier

[ ENHANCEMENT ] O comando de carregar diagramas agora atualiza a listagem no corpo do main
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
  src/main/resources/static/typescript/infrastructure/command/carregarDiagramaCommand.ts
  src/main/resources/static/typescript/infrastructure/factory/repositorioTiposDiagramaFactory.ts
  src/main/resources/static/typescript/infrastructure/repositorio/repositorioTiposDiagrama.ts
  src/main/resources/static/typescript/model/repositorio/iRepositorioTiposDiagrama.ts
Due: Format with Prettier

[ GIT ] Configuração para o git não modificar o gradle-wrapper.jar
  .gitattributes
Due: none

[ VERSÃO ] Atualização da versão do programa
  build.gradle.kts
Due: none

Nova página de listagem
  src/main/java/io/github/heberbarra/modelador/ControladorWeb.java
  src/main/resources/messages.properties
  src/main/resources/messages_en.properties
  src/main/resources/messages_pt.properties
  src/main/resources/static/scss/listagemEstudantes.scss
  src/main/resources/templates/config.svg
  src/main/resources/templates/listagemEstudantes.html
  src/main/resources/templates/notify.svg
Due: Format with Spotless, Format with Prettier

Path conditions:
  Format with Spotless: any of: \.java$
  Format with Prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$
