Repository Heber-Modelo/heber-modelo: changes, and which pre-commit hooks are due for each by the changed paths.
All: Format with Spotless, Format with Prettier

.pre-commit-config.yaml:

fail_fast: true
default_language_version:
  python: 3.13.11
repos:
  - repo: local
    hooks:
      - id: Format with Spotless
        name: Format with Spotless
        types: [java]
        entry: gradle spotlessJavaApply
        language: unsupported
        stages: [pre-commit]
        pass_filenames: false
      - id: Format with Prettier
        name: Format with Prettier
        types_or: [html, javascript, ts]
        entry: npx prettier --write
        language: node
        stages: [pre-commit]

[ FIX ] Correção de bug no qual não era possível apagar os relacionamentos criados automaticamente na primeira tentativa
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
  src/main/resources/static/typescript/infrastructure/command/conectarComponentesCommand.ts
Due: Format with Prettier

[ ENHANCEMENT ] Pequeno ajuste visual na parte de seleção de tipo de conexão
  src/main/resources/static/scss/editor.scss
  src/main/resources/static/typescript/infrastructure/conexao/seletorTipoConexao.ts
Due: Format with Prettier

[ FIX ] Correção de erro de digitação no justfile
  justfile
Due: none

[ REFACTOR ] Criação de singleton factory para o GeradorIDComponente
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
  src/main/resources/static/typescript/infrastructure/factory/geradorIDComponenteFactory.ts
  src/main/resources/static/typescript/infrastructure/gerador/geradorIDComponente.ts
Due: Format with Prettier

[ REFACTOR ] Criação de classe RegistradorEventosElemento para substituir a função hardcoded no editor
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
  src/main/resources/static/typescript/infrastructure/command/colarComponenteCommand.ts
  src/main/resources/static/typescript/infrastructure/command/conectarComponentesCommand.ts
  src/main/resources/static/typescript/infrastructure/factory/registradorEventosElementoFactory.ts
  src/main/resources/static/typescript/infrastructure/factory/repositorioComponenteFactory.ts
  src/main/resources/static/typescript/infrastructure/registrador/registradorEventosElemento.ts
Due: Format with Prettier

[ FEATURE ] Implementação da funcionalidade de quase todos os botões da toolbar
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
  src/main/resources/static/typescript/application/paginas/editor/toolbar.ts
  webpack.config.js
Due: Format with Prettier

[ VERSÃO ] Atualização da versão do programa
  build.gradle.kts
Due: none

[ FEATURE ] Funcionalidade para criar um relacionamento automaticamente ao conectar duas entidades
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
  src/main/resources/static/typescript/infrastructure/command/conectarComponentesCommand.ts
Due: Format with Prettier

[ FIX ] Correção no justfile para compilar a documentação de forma correta
  justfile
Due: none

[ IDEA ] Adição de configuração do Intellij para padronizar melhor o estilo de código
  .gitignore
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
Due: none

mudanças no painel esquerdo
  src/main/resources/messages.properties
  src/main/resources/messages_en.properties
  src/main/resources/messages_pt.properties
  src/main/resources/static/scss/editor.scss
  src/main/resources/static/typescript/application/paginas/editor/painelLateral.ts
  src/main/resources/templates/editor.html
Due: Format with Prettier

[ FEATURE ] Ajuste no desfazer do ColarComponenteCommand e método para refazer o efeito
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
  src/main/resources/static/typescript/infrastructure/command/colarComponenteCommand.ts
Due: Format with Prettier

[ REFACTOR ] Mudança quase completa do sistema de conexões O novo sistema tenta prover uma melhor experiência de usuário
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
  src/main/resources/static/typescript/application/paginas/editor/editorPropriedades.ts
  src/main/resources/static/typescript/application/paginas/editor/selecionadorComponente.ts
  src/main/resources/static/typescript/infrastructure/command/apagarComponenteCommand.ts
  src/main/resources/static/typescript/infrastructure/command/carregarCSSCommand.ts
  src/main/resources/static/typescript/infrastructure/command/carregarDiagramaCommand.ts
  src/main/resources/static/typescript/infrastructure/command/colarComponenteCommand.ts
  src/main/resources/static/typescript/infrastructure/command/conectarComponentesCommand.ts
  src/main/resources/static/typescript/infrastructure/command/copiarComponenteCommand.ts
  src/main/resources/static/typescript/infrastructure/command/cortarComponenteCommand.ts
  src/main/resources/static/typescript/infrastructure/conexao/seletorTipoConexao.ts
  src/main/resources/static/typescript/infrastructure/conexao/setaConectora.ts
  src/main/resources/static/typescript/infrastructure/factory/componenteConexaoFactory.ts
  src/main/resources/static/typescript/infrastructure/factory/selecionadorComponenteFactory.ts
  src/main/resources/static/typescript/infrastructure/factory/setaConectoraFactory.ts
  src/main/resources/static/typescript/infrastructure/repositorio/repositorioComponente.ts
  src/main/resources/static/typescript/model/command/iCommand.ts
  src/main/resources/static/typescript/model/command/iCommandBuilder.ts
  src/main/resources/static/typescript/model/componente/componenteDiagrama.ts
  src/main/resources/static/typescript/model/componente/lateraisComponente.ts
  src/main/resources/static/typescript/model/conexao/abstractComponenteConexao.ts
  src/main/resources/static/typescript/model/conexao/tiposConexao.ts
  src/main/resources/static/typescript/model/exception/commandBuilderException.ts
  src/main/resources/static/typescript/model/repositorio/iRepositorio.ts
  src/main/resources/static/typescript/model/repositorio/iRepositorioComponente.ts
  src/main/resources/templates/editor.html
Due: Format with Prettier

criação da barra de tarefas
  src/main/resources/static/scss/editor.scss
  src/main/resources/static/scss/novo.scss
  src/main/resources/templates/editor.html
Due: Format with Prettier

[ FIX ] Correção de bug que impedia fazer conexões numa direção específica
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
  src/main/resources/static/typescript/infrastructure/command/conectarComponentesCommand.ts
  src/main/resources/static/typescript/infrastructure/factory/selecionadorComponenteFactory.ts
  src/main/resources/static/typescript/model/componente/lateraisComponente.ts
Due: Format with Prettier

alteração na toolbar
  src/main/resources/static/scss/editor.scss
  src/main/resources/templates/editor.html
Due: Format with Prettier

[ FEATURE ] Ajuste no histórico de comandos para permitir refazer um comando e iniciar apenas uma instância por vez
  src/main/resources/static/typescript/application/history/commandHistory.ts
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
  src/main/resources/static/typescript/infrastructure/factory/commandHistoryFactory.ts
  src/main/resources/static/typescript/infrastructure/history/commandHistory.ts
Due: Format with Prettier

alteração toolbar
  src/main/resources/static/scss/editor.scss
Due: none

[ FEATURE ] Configuração inicial para a criação de uma imagem docker, ainda não funcional
  Dockerfile
  build.gradle.kts
Due: none

[ FEATURE ] Adição de funcionalidade para refazer o efeito dos comandos de copiar e cortar
  src/main/resources/static/typescript/infrastructure/command/copiarComponenteCommand.ts
  src/main/resources/static/typescript/infrastructure/command/cortarComponenteCommand.ts
Due: Format with Prettier

[ FEATURE ] Funcionalidade para que o comando de apagar componentes seja reversível e possa refeito livremente
  src/main/resources/config/configuracao.template.json
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
  src/main/resources/static/typescript/infrastructure/command/apagarComponenteCommand.ts
  src/main/resources/templates/fragments/bindings.html
Due: Format with Prettier

novidades em páginas de cadastro, login e sessão
  src/main/java/io/github/heberbarra/modelador/ControladorWeb.java
  src/main/java/io/github/heberbarra/modelador/application/conversor/ConversorDiagramaXML.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/controller/ControladorDiagramaXML.java
  src/main/resources/config/paleta.template.json
  src/main/resources/messages.properties
  src/main/resources/messages_en.properties
  src/main/resources/messages_pt.properties
  src/main/resources/static/scss/sessao.scss
  src/main/resources/static/typescript/application/paginas/editor/toolbar.ts
  src/main/resources/templates/cadastro.html
  src/main/resources/templates/criarSessao.html
  src/main/resources/templates/editor.html
  src/main/resources/templates/entrarSessao.html
  src/main/resources/templates/index.html
  src/main/resources/templates/login.html
  webpack.config.js
Due: Format with Spotless, Format with Prettier

[ REFACTOR ] Ajustes visuais para se adequar aos pedidos da coorientadora
  src/main/java/io/github/heberbarra/modelador/application/diagrama/ListadorTiposDiagrama.java
  src/main/resources/messages.properties
  src/main/resources/messages_en.properties
  src/main/resources/messages_pt.properties
  src/main/resources/templates/editor.html
  src/main/resources/templates/index.html
Due: Format with Spotless, Format with Prettier

Continuação da funcionalidade de exportar e correção das messasges
  .idea/codeStyles/Project.xml
  src/main/resources/messages.properties
  src/main/resources/messages_en.properties
  src/main/resources/messages_pt.properties
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
  src/main/resources/templates/editor.html
Due: Format with Prettier

tela de anexar atividade concluída
  src/main/java/io/github/heberbarra/modelador/ControladorWeb.java
  src/main/resources/messages.properties
  src/main/resources/messages_en.properties
  src/main/resources/messages_pt.properties
  src/main/resources/static/scss/editor.scss
  src/main/resources/static/scss/formulario.scss
  src/main/resources/static/scss/sessao.scss
  src/main/resources/templates/anexarAtividade.html
  src/main/resources/templates/cadastro.html
  src/main/resources/templates/criarSessao.html
  src/main/resources/templates/entrarSessao.html
Due: Format with Spotless, Format with Prettier

[ FIX ] Adição de chave de tradução para o seletor tipo de conexão
  src/main/resources/messages.properties
  src/main/resources/messages_en.properties
  src/main/resources/messages_pt.properties
  src/main/resources/templates/editor.html
Due: Format with Prettier

[ DOC ] Ajustes no README e adição de passo a passo para compilação manual
  README.md
Due: none

[ ENHANCEMENT ] Modificação para as setas aparecerem somente quando o mouse passa sobre elas e redução do seu tamanho
  src/main/resources/static/scss/editor.scss
  src/main/resources/templates/editor.html
Due: Format with Prettier

implementação da função apagar todos os elementos do diagrama
  .idea/codeStyles/Project.xml
  src/main/resources/messages.properties
  src/main/resources/messages_en.properties
  src/main/resources/messages_pt.properties
  src/main/resources/static/scss/editor.scss
  src/main/resources/static/scss/formulario.scss
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
  src/main/resources/static/typescript/infrastructure/command/apagarTodosComponentesCommand.ts
Due: Format with Prettier

finalização do menu na toolbar
  src/main/resources/config/paleta.template.json
  src/main/resources/static/scss/_estiloComum.scss
  src/main/resources/static/scss/editor.scss
  src/main/resources/templates/editor.html
Due: Format with Prettier

alterações isoladas e criação de página
  src/main/resources/config/paleta.template.json
  src/main/resources/static/scss/editor.scss
  src/main/resources/templates/listagemEstudantes.html
Due: Format with Prettier

[ FIX ] Correção no método salvar para fazer a request apropriada para o backend
  src/main/java/io/github/heberbarra/modelador/domain/model/xml/DiagramaXML.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/controller/ControladorDiagramaXML.java
  src/main/resources/static/typescript/application/paginas/editor/salvar.ts
  src/main/resources/templates/editor.html
Due: Format with Spotless, Format with Prettier
