Repository Heber-Modelo/heber-modelo: changes, and which pre-commit hooks are due for each by the changed paths.
All: Format with Spotless, Format with Prettier

.pre-commit-config.yaml:

fail_fast: true
default_language_version:
  python: 3.13.11
repos:
  - repo: local
    hooks:
      - id: Format with Spotless
        name: Format with Spotless
        types: [java]
        entry: gradle spotlessJavaApply
        language: unsupported
        stages: [pre-commit]
        pass_filenames: false
      - id: Format with Prettier
        name: Format with Prettier
        types_or: [html, javascript, ts]
        entry: npx prettier --write
        language: node
        stages: [pre-commit]

[ FEATURE ] Melhoria na criação do arquivo .env para gerar uma configuração inicial; ainda falta tentar tirar o método da classe principal e permitir sobrescrever com novas configurações
  src/main/java/io/github/heberbarra/modelador/domain/model/json/AtributoJsonDotEnv.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/configurador/Configurador.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/configurador/CriadorConfiguracoes.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/configurador/VerificadorConfiguracao.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/verificador/JsonVerificadorDotEnv.java
  src/main/resources/config/dotenv.schema.json
  src/main/resources/config/dotenv.template.json
Due: Format with Spotless

[ FEATURE ] Funcionalidade para atualizar o .env do usuário com base nas novas variáveis de ambiente introduzidas no programa
  gradle/libs.versions.toml
  src/main/java/io/github/heberbarra/modelador/infrastructure/configurador/CombinadorConfiguracoes.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/configurador/Configurador.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/configurador/CriadorConfiguracoes.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/configurador/LeitorConfiguracao.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/configurador/VerificadorConfiguracao.java
Due: Format with Spotless

[ DOC ] Correção de tag não fechada no README e diminuição do tamanho das imagens dos autores do projeto
  README.md
Due: none

[ FIX ] Correção de bug ocasionado pela mudança do tipo de retorno do configurador que impedia a movimentação dos componentes
  src/main/java/io/github/heberbarra/modelador/ControladorWeb.java
  src/main/resources/static/scss/elementos/nota.scss
Due: Format with Spotless

[ ENHANCEMENT ] Criação de enum no ListadorTiposDiagrama para reduzir a quantidade de strings; assim evitando erros de digitação e divergências
  src/main/java/io/github/heberbarra/modelador/ControladorWeb.java
  src/main/java/io/github/heberbarra/modelador/application/diagrama/ListadorTiposDiagrama.java
Due: Format with Spotless

conversor
  src/main/java/io/github/heberbarra/modelador/application/conversor/ConversorDiagramaXML.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/controller/ControladorDiagramaXML.java
  src/main/resources/diagram.xsd
Due: Format with Spotless

[ NVM ] Adição de arquivo de configuração da versão do Node, para que o NVM consiga trocar a versão automaticamente
  .nvmrc
  src/main/resources/static/typescript/model/factory/iFactory.ts
Due: Format with Prettier

[ FEATURE ] Implementação inicial do design pattern Command para manter um histórico das alterações feitas
  src/main/resources/config/configuracao.template.json
  src/main/resources/static/typescript/application/history/commandHistory.ts
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
  src/main/resources/static/typescript/infrastructure/command/colarComponenteCommand.ts
  src/main/resources/static/typescript/infrastructure/command/copiarComponenteCommand.ts
  src/main/resources/static/typescript/infrastructure/command/cortarComponenteCommand.ts
  src/main/resources/static/typescript/infrastructure/factory/command/colarComponenteCommandFactory.ts
  src/main/resources/static/typescript/infrastructure/factory/componenteFactory.ts
  src/main/resources/static/typescript/infrastructure/factory/repositorioComponenteFactory.ts
  src/main/resources/static/typescript/infrastructure/factory/selecionadorComponenteFactory.ts
  src/main/resources/static/typescript/model/command/iCommand.ts
  src/main/resources/static/typescript/model/factory/IFactory.ts
  src/main/resources/templates/fragments/bindings.html
Due: Format with Prettier

[ ENHANCEMENT ] Substituição de funções básicas do clipboard.js por Commands
  src/main/resources/static/typescript/application/clipboard/clipboard.ts
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
  src/main/resources/static/typescript/infrastructure/command/colarComponenteCommand.ts
  src/main/resources/static/typescript/infrastructure/command/copiarComponenteCommand.ts
  src/main/resources/static/typescript/infrastructure/command/cortarComponenteCommand.ts
  src/main/resources/static/typescript/infrastructure/factory/command/colarComponenteCommandFactory.ts
Due: Format with Prettier

[ ENHANCEMENT ] Criação de Command para o carregamento dos diagramas, permitindo desativar um diagrama agora
  src/main/resources/static/typescript/application/carregador/carregadorDiagrama.ts
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
  src/main/resources/static/typescript/infrastructure/command/carregarDiagramaCommand.ts
Due: Format with Prettier

[ REFACTOR ] Substituição de alguns valores hard-codeds por constantes
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
Due: Format with Prettier

[ FIX ] Adição de permissions.contents para o workflow para melhorar a segurança
  .github/workflows/ci.yml
Due: none

[ CHORE ] Correção de posicionamento do título da página de erro e lembrete para atualização futura
  src/main/java/io/github/heberbarra/modelador/infrastructure/security/ConfiguradorSecurity.java
  src/main/resources/templates/error.html
Due: Format with Spotless, Format with Prettier

[ DOC ] Adição de copyright headers
  src/main/resources/static/typescript/infrastructure/command/carregarDiagramaCommand.ts
  src/main/resources/static/typescript/infrastructure/command/colarComponenteCommand.ts
  src/main/resources/static/typescript/infrastructure/command/copiarComponenteCommand.ts
  src/main/resources/static/typescript/infrastructure/command/cortarComponenteCommand.ts
Due: Format with Prettier

[ ENHANCEMENT ] Substituição da função carregarCSS por uma classe Command
  src/main/resources/static/typescript/application/paginas/editor/carregarCSS.ts
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
  src/main/resources/static/typescript/infrastructure/command/carregarCSSCommand.ts
Due: Format with Prettier

[ VERSION ] Atualização da versão do programa
  build.gradle.kts
Due: none

[ VERSION ] Atualização da versão do programa
  build.gradle.kts
  gradlew.bat
Due: none

[ ENHANCEMENT ] Adição de gradlew bat no .gitattributes
  .gitattributes
Due: none

[ ENHANCEMENT ] Adição de anotação de tipo
  src/main/resources/static/typescript/infrastructure/command/carregarCSSCommand.ts
Due: Format with Prettier

[ DOC ] Versão inicial da documentação usando o mkdocs
  docs/LICENSE.md
  docs/img/favicon.ico
  docs/img/logo.svg
  docs/index.md
  docs/políticaPrivacidade.md
  docs/termosGerais.md
  mkdocs.yml
  pyproject.toml
  uv.lock
Due: none

[ FIX ] Adição de flag setSecure no cookie para melhorar um pouco a segurança do aplicativo
  .pre-commit-config.yaml
  src/main/java/io/github/heberbarra/modelador/ControladorWeb.java
Due: Format with Spotless

[ DEPENDABOT ] Adição de prefixos para as mensagens do dependabot
  .github/dependabot.yml
Due: none

[ FEATURE ] Versão inicial da função para ajustar tamanho dos elementos com o mouse
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
Due: Format with Prettier

[ VERSÃO ] Atualização da versão do programa
  build.gradle.kts
  gradle/libs.versions.toml
Due: none

[ ENHANCEMENT ] Troca de pre-commit.py por um arquivo pre-commit-config para simplicar o processo de criação de hooks
  .pre-commit-config.yaml
  gruntfile.js
  pre-commit.py
  pyproject.toml
  uv.lock
Due: Format with Prettier

[ FIX ] Ajuste de imports e exceptions para adequar as novas depedências
  src/main/java/io/github/heberbarra/modelador/Principal.java
  src/main/java/io/github/heberbarra/modelador/application/tradutor/Tradutor.java
  src/main/java/io/github/heberbarra/modelador/application/usecase/pegar/PegadorVersaoRemota.java
  src/main/java/io/github/heberbarra/modelador/domain/repository/IAtividadeRepositorio.java
  src/main/java/io/github/heberbarra/modelador/domain/repository/IFeedbackRepositorio.java
  src/main/java/io/github/heberbarra/modelador/domain/repository/IUsuarioRepositorio.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/assembler/TraducaoModelAssembler.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/assembler/UsuarioModelAssembler.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/configurador/LeitorArquivoVerificacaoPadrao.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/controller/ControladorErros.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/controller/ControladorTraducao.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/controller/ControladorUsuarios.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/security/ConfiguradorSecurity.java
Due: Format with Spotless
