Repository Heber-Modelo/heber-modelo: changes, and which pre-commit hooks are due for each by the changed paths.
All: Format with Spotless, Format with Prettier

.pre-commit-config.yaml:

fail_fast: true
default_language_version:
  python: 3.13.11
repos:
  - repo: local
    hooks:
      - id: Format with Spotless
        name: Format with Spotless
        types: [java]
        entry: gradle spotlessJavaApply
        language: unsupported
        stages: [pre-commit]
        pass_filenames: false
      - id: Format with Prettier
        name: Format with Prettier
        types_or: [html, javascript, ts]
        entry: npx prettier --write
        language: node
        stages: [pre-commit]

[ DOCS ] Atualização da versão das dependências listadas
  README.md
Due: none

[ ENHANCEMENT ] Adição de prefixo aos commits de atualização do GitHub Actions
  .github/dependabot.yml
Due: none

[ FEATURE ] Ajuste na configuração do Spring Security para utilizar CSRF
  src/main/java/io/github/heberbarra/modelador/infrastructure/security/ConfiguradorSecurity.java
  src/main/resources/static/typescript/application/paginas/novo.ts
  src/main/resources/templates/anexarAtividade.html
  src/main/resources/templates/cadastro.html
  src/main/resources/templates/criarSessao.html
  src/main/resources/templates/entrarSessao.html
  src/main/resources/templates/login.html
  src/main/resources/templates/novo.html
  src/main/resources/templates/redefinir.html
  src/main/resources/templates/solicitar.html
Due: Format with Spotless, Format with Prettier

Alterações nas dimensões dos elementos na página de componentes + correção do nome das posições da conexão
  src/main/resources/messages.properties
  src/main/resources/messages_en.properties
  src/main/resources/messages_pt.properties
  src/main/resources/static/scss/editor.scss
Due: none

[ FEATURE ] Funcionalidade para ligar Diagrama do Modelo Relacional ao ligar o Dicionário de Dados
  src/main/resources/static/typescript/application/paginas/helperSeletorTipoConexao.ts
  src/main/resources/static/typescript/application/paginas/novo.ts
  src/main/resources/templates/editor.html
  src/main/resources/templates/novo.html
  webpack.config.js
Due: Format with Prettier

Começo da implementação de sessão
  src/main/java/io/github/heberbarra/modelador/ControladorWeb.java
  src/main/java/io/github/heberbarra/modelador/domain/model/Sessao.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/factory/SessaoFactory.java
  src/main/resources/messages.properties
  src/main/resources/messages_en.properties
  src/main/resources/messages_pt.properties
  src/main/resources/templates/criarSessao.html
  src/main/resources/templates/entrarSessao.html
Due: Format with Spotless, Format with Prettier

[ ENHANCEMENT ] Mudanças visuais a pedido da coorientadora
  src/main/java/io/github/heberbarra/modelador/ControladorWeb.java
  src/main/resources/config/configuracao.template.json
  src/main/resources/messages.properties
  src/main/resources/messages_en.properties
  src/main/resources/messages_pt.properties
  src/main/resources/static/typescript/infrastructure/variaveisConfiguracao.ts
  src/main/resources/templates/editor.html
Due: Format with Spotless, Format with Prettier

[ FEATURE ] Funcionalidade para trocar entre conexão angula e conexão de entidade fraca
  src/main/resources/static/typescript/infrastructure/seletorTipoConexao.ts
  src/main/resources/static/typescript/model/componente/abstractComponenteConexao.ts
  src/main/resources/static/typescript/model/componente/componenteConexaoAngulada.ts
  src/main/resources/static/typescript/model/event/changeConnectionTypeEvent.ts
Due: Format with Prettier

[ FIX ] Pequeno ajuste no helper do seletor do tipo de diagrama para ativar apropriadamente o diagrama do modelo relacional
  src/main/resources/static/typescript/application/paginas/helperSeletorTipoConexao.ts
Due: Format with Prettier

[ REFACTOR ] Mudança do pacote do SelecionadorComponente para se adequar melhor ao Domain-Driven Design
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
  src/main/resources/static/typescript/application/paginas/editor/editorPropriedades.ts
  src/main/resources/static/typescript/infrastructure/command/cortarComponenteCommand.ts
  src/main/resources/static/typescript/infrastructure/factory/pontoExtensorFactory.ts
  src/main/resources/static/typescript/infrastructure/factory/selecionadorComponenteFactory.ts
  src/main/resources/static/typescript/infrastructure/selecionador/selecionadorComponente.ts
  src/main/resources/static/typescript/infrastructure/seletorTipoConexao.ts
Due: Format with Prettier

[ FEATURE ] Funcionalidade para selecionar a aba ativa, ainda não afeta o restante do programa
  src/main/resources/static/scss/editor.scss
  src/main/resources/static/scss/estilosEditor/_estiloSeletorAba.scss
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
  src/main/resources/static/typescript/infrastructure/factory/repositorioAbasFactory.ts
  src/main/resources/static/typescript/infrastructure/factory/selecionadorAbaFactory.ts
  src/main/resources/static/typescript/infrastructure/selecionador/selecionadorAba.ts
  src/main/resources/static/typescript/infrastructure/seletor/seletorAba.ts
  src/main/resources/static/typescript/model/aba.ts
  src/main/resources/templates/editor.html
  webpack.config.js
Due: Format with Prettier

[ ENHANCEMENT ] Simplificação do código de resseleção de abas
  src/main/resources/static/typescript/infrastructure/seletor/seletorAba.ts
Due: Format with Prettier

[ FEATURE ] Funcionalidade para adicionar id da aba ativa aos componentes
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
  src/main/resources/static/typescript/infrastructure/command/conectarAtributoCommand.ts
  src/main/resources/static/typescript/infrastructure/command/criarComponenteCommand.ts
  src/main/resources/static/typescript/infrastructure/factory/componenteFactory.ts
  src/main/resources/static/typescript/infrastructure/seletor/seletorAba.ts
  src/main/resources/templates/editor.html
  webpack.config.js
Due: Format with Prettier

[ FEATURE ] Sistema de abas finalizado parcialmente, falta ainda suporte para dicionário de dados e descrição relacional
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
  src/main/resources/static/typescript/infrastructure/command/conectarComponentesCommand.ts
  src/main/resources/static/typescript/infrastructure/command/conectarDuasEntidadesCommand.ts
  src/main/resources/static/typescript/infrastructure/factory/selecionadorAbaFactory.ts
  src/main/resources/static/typescript/infrastructure/selecionador/selecionadorAba.ts
Due: Format with Prettier

[ ENHANCEMENT ] Adição de variável na paleta exclusiva para a cor da borda da aba selecionada
  src/main/resources/config/paleta.template.json
  src/main/resources/static/scss/estilosEditor/_estiloSeletorAba.scss
Due: none

[ FEATURE ] Versão inicial dos elementos da descrição relacional e do dicionário de dados
  src/main/resources/messages.properties
  src/main/resources/messages_en.properties
  src/main/resources/messages_pt.properties
  src/main/resources/static/diagramas/.diagrama.schema.json
  src/main/resources/static/diagramas/dda.json
  src/main/resources/static/diagramas/ddd.json
  src/main/resources/static/diagramas/der.json
  src/main/resources/static/diagramas/drl.json
  src/main/resources/static/diagramas/mlr.json
  src/main/resources/static/elementos/editor_descricao_relacional.json
  src/main/resources/static/elementos/simbolos/editor_descricao_relacional.svg
  src/main/resources/static/elementos/simbolos/tabela_dicionario.svg
  src/main/resources/static/elementos/tabela_dicionario.json
Due: none

[ FEATURE ] Funcionalidade para que uma aba exclusiva seja criada para a descrição do modelo relacional e o dicionário de dados
  src/main/resources/static/diagramas/ddd.json
  src/main/resources/static/scss/editor.scss
  src/main/resources/static/scss/elementos/editor_descricao_relacional.scss
  src/main/resources/static/scss/elementos/tabela_dicionario.scss
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
  src/main/resources/static/typescript/infrastructure/command/carregarDiagramaCommand.ts
  src/main/resources/static/typescript/infrastructure/services/criarAba.ts
  src/main/resources/static/typescript/model/response/responseDiagramaJSON.ts
Due: Format with Prettier

[ ENHANCEMENT ] Adição de chave de tradução para os valores padrões das propriedades dos componentes
  src/main/resources/messages.properties
  src/main/resources/messages_en.properties
  src/main/resources/messages_pt.properties
  src/main/resources/static/elementos/.elemento.schema.json
  src/main/resources/static/elementos/agregacao.json
  src/main/resources/static/elementos/atributo_der.json
  src/main/resources/static/elementos/classe.json
  src/main/resources/static/elementos/entidade.json
  src/main/resources/static/elementos/entidade_relacional.json
  src/main/resources/static/elementos/nota.json
  src/main/resources/static/elementos/relacionamento.json
  src/main/resources/static/elementos/tabela_dicionario.json
  src/main/resources/static/elementos/texto.json
  src/main/resources/static/scss/elementos/tabela_dicionario.scss
  src/main/resources/static/typescript/infrastructure/factory/componenteFactory.ts
  src/main/resources/static/typescript/model/json/valoresJSONComponente.ts
Due: Format with Prettier

[ FEATURE ] Adição de labels e estilo básico para a tabela de dicionário de dados
  src/main/resources/messages.properties
  src/main/resources/messages_en.properties
  src/main/resources/messages_pt.properties
  src/main/resources/static/elementos/tabela_dicionario.json
  src/main/resources/static/scss/editor.scss
  src/main/resources/static/scss/elementos/tabela_dicionario.scss
  src/main/resources/static/scss/estilosEditor/_estiloSeletorTipoConexao.scss
Due: none

[ FEATURE ] Versão preliminar do dicionário de dados
  src/main/resources/static/elementos/tabela_dicionario.json
  src/main/resources/static/scss/elementos/tabela_dicionario.scss
  src/main/resources/static/typescript/application/paginas/editor/callbacksElementos.ts
Due: Format with Prettier

[ FEATURE ] Editor Descrição do Modelo Relacional
  package-lock.json
  package.json
  pnpm-lock.yaml
  src/main/resources/static/scss/elementos/editor_descricao_relacional.scss
  src/main/resources/static/typescript/application/paginas/editor/helperEditorDescricaoModeloRelacional.ts
  src/main/resources/static/typescript/infrastructure/factory/componenteFactory.ts
  src/main/resources/templates/editor.html
  tsconfig.json
  webpack.config.js
Due: Format with Prettier

[ ENHANCEMENT ] Aumento do tamanho dos botões da tabela de dicionário de dados
  src/main/resources/static/scss/elementos/tabela_dicionario.scss
Due: none

[ FIX ] Ajuste para o seletor de aba não sumir ao fechar os painéis laterais
  src/main/resources/static/scss/editor.scss
Due: none

[ VERSÃO ] Atualização da versão do programa
  build.gradle.kts
Due: none
