Repository Heber-Modelo/heber-modelo: changes, and which pre-commit hooks are due for each by the changed paths.
All: Format with Spotless, Format with Prettier

.pre-commit-config.yaml:

fail_fast: true
default_language_version:
  python: 3.13.11
repos:
  - repo: local
    hooks:
      - id: Format with Spotless
        name: Format with Spotless
        types: [java]
        entry: gradle spotlessJavaApply
        language: unsupported
        stages: [pre-commit]
        pass_filenames: false
      - id: Format with Prettier
        name: Format with Prettier
        types_or: [html, javascript, ts]
        entry: npx prettier --write
        language: node
        stages: [pre-commit]

conversor
  src/main/java/io/github/heberbarra/modelador/application/conversor/ConversorDiagramaXML.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/controller/ControladorDiagramaXML.java
  src/main/resources/diagram.xsd
Due: Format with Spotless

Alteração nos elementos do DER
  src/main/resources/static/elementos/simbolos/agregacao.svg
  src/main/resources/static/elementos/simbolos/relacionamento.svg
  src/main/resources/static/scss/editor.scss
Due: none

[ CI ] Mudança na CI.yml para utilizar a versão do node do arquivo .nvmrc
  .github/workflows/ci.yml
Due: none

[ FIX ] Ajuste para o símbolo da entidade relacional usar a cor certa para a primeira linha
  src/main/resources/static/scss/editor.scss
Due: none

[ FIX ] Ajuste na compilação do TypeScript para os callback dos elementos voltem a funcionar
  src/main/resources/templates/editor.html
  tsconfig-compilation.json
Due: Format with Prettier

[ VERSION ] Atualização da versão do programa
  build.gradle.kts
Due: none

Estrutura da documentação dos diagramas
  docs/diagramas/diagramaEntidadeRelacionamento.md
  docs/diagramas/diagramaModeloRelacional.md
  docs/diagramas/dicionárioDados.md
  docs/diagramas/modeloRelacional.md
  mkdocs.yml
Due: none

alteração no painel lateral
  src/main/resources/static/elementos/simbolos/agregacao.svg
  src/main/resources/static/elementos/simbolos/atributo_der.svg
  src/main/resources/static/scss/editor.scss
Due: none

[ ENHANCEMENT ] Configuração para poder controlar os elementos que recebem os pontos extensores
  src/main/resources/static/elementos/.elemento.schema.json
  src/main/resources/static/elementos/agregacao.json
  src/main/resources/static/elementos/atributo_der.json
  src/main/resources/static/elementos/classe.json
  src/main/resources/static/elementos/conexao_angulada.json
  src/main/resources/static/elementos/conexao_entidade_fraca.json
  src/main/resources/static/elementos/conexao_reta.json
  src/main/resources/static/elementos/conexao_seta.json
  src/main/resources/static/elementos/entidade.json
  src/main/resources/static/elementos/entidade_relacional.json
  src/main/resources/static/elementos/especializacao.json
  src/main/resources/static/elementos/nota.json
  src/main/resources/static/elementos/relacionamento.json
  src/main/resources/static/elementos/texto.json
  src/main/resources/static/typescript/application/paginas/editor/editorPropriedades.ts
  src/main/resources/static/typescript/application/paginas/editor/selecionadorComponente.ts
  src/main/resources/static/typescript/infrastructure/factory/componenteFactory.ts
  src/main/resources/static/typescript/model/json/valoresJSONComponente.ts
Due: Format with Prettier

atualização de espaçamento
  src/main/resources/static/scss/editor.scss
Due: none

[ FIX ] Correção na tarefa do justfile para compilar a documentação na pasta correta
  justfile
Due: none

criação da barra de tarefas
  src/main/resources/static/scss/editor.scss
  src/main/resources/static/scss/novo.scss
  src/main/resources/templates/editor.html
Due: Format with Prettier

alteração toolbar
  src/main/resources/static/scss/editor.scss
Due: none

mudanças no painel esquerdo
  src/main/resources/messages.properties
  src/main/resources/messages_en.properties
  src/main/resources/messages_pt.properties
  src/main/resources/static/scss/editor.scss
  src/main/resources/static/typescript/application/paginas/editor/painelLateral.ts
  src/main/resources/templates/editor.html
Due: Format with Prettier

[ IDEA ] Adição de configuração do Intellij para padronizar melhor o estilo de código
  .gitignore
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
Due: none

[ REFACTOR ] Mudança quase completa do sistema de conexões O novo sistema tenta prover uma melhor experiência de usuário
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
  src/main/resources/static/typescript/application/paginas/editor/editorPropriedades.ts
  src/main/resources/static/typescript/application/paginas/editor/selecionadorComponente.ts
  src/main/resources/static/typescript/infrastructure/command/apagarComponenteCommand.ts
  src/main/resources/static/typescript/infrastructure/command/carregarCSSCommand.ts
  src/main/resources/static/typescript/infrastructure/command/carregarDiagramaCommand.ts
  src/main/resources/static/typescript/infrastructure/command/colarComponenteCommand.ts
  src/main/resources/static/typescript/infrastructure/command/conectarComponentesCommand.ts
  src/main/resources/static/typescript/infrastructure/command/copiarComponenteCommand.ts
  src/main/resources/static/typescript/infrastructure/command/cortarComponenteCommand.ts
  src/main/resources/static/typescript/infrastructure/conexao/seletorTipoConexao.ts
  src/main/resources/static/typescript/infrastructure/conexao/setaConectora.ts
  src/main/resources/static/typescript/infrastructure/factory/componenteConexaoFactory.ts
  src/main/resources/static/typescript/infrastructure/factory/selecionadorComponenteFactory.ts
  src/main/resources/static/typescript/infrastructure/factory/setaConectoraFactory.ts
  src/main/resources/static/typescript/infrastructure/repositorio/repositorioComponente.ts
  src/main/resources/static/typescript/model/command/iCommand.ts
  src/main/resources/static/typescript/model/command/iCommandBuilder.ts
  src/main/resources/static/typescript/model/componente/componenteDiagrama.ts
  src/main/resources/static/typescript/model/componente/lateraisComponente.ts
  src/main/resources/static/typescript/model/conexao/abstractComponenteConexao.ts
  src/main/resources/static/typescript/model/conexao/tiposConexao.ts
  src/main/resources/static/typescript/model/exception/commandBuilderException.ts
  src/main/resources/static/typescript/model/repositorio/iRepositorio.ts
  src/main/resources/static/typescript/model/repositorio/iRepositorioComponente.ts
  src/main/resources/templates/editor.html
Due: Format with Prettier

[ FIX ] Correção no justfile para compilar a documentação de forma correta
  justfile
Due: none

[ FEATURE ] Configuração inicial para a criação de uma imagem docker, ainda não funcional
  Dockerfile
  build.gradle.kts
Due: none

[ FEATURE ] Funcionalidade para criar um relacionamento automaticamente ao conectar duas entidades
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
  src/main/resources/static/typescript/infrastructure/command/conectarComponentesCommand.ts
Due: Format with Prettier

[ FEATURE ] Ajuste no histórico de comandos para permitir refazer um comando e iniciar apenas uma instância por vez
  src/main/resources/static/typescript/application/history/commandHistory.ts
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
  src/main/resources/static/typescript/infrastructure/factory/commandHistoryFactory.ts
  src/main/resources/static/typescript/infrastructure/history/commandHistory.ts
Due: Format with Prettier

[ FEATURE ] Funcionalidade para que o comando de apagar componentes seja reversível e possa refeito livremente
  src/main/resources/config/configuracao.template.json
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
  src/main/resources/static/typescript/infrastructure/command/apagarComponenteCommand.ts
  src/main/resources/templates/fragments/bindings.html
Due: Format with Prettier

[ FEATURE ] Ajuste no desfazer do ColarComponenteCommand e método para refazer o efeito
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
  src/main/resources/static/typescript/infrastructure/command/colarComponenteCommand.ts
Due: Format with Prettier

[ FEATURE ] Adição de funcionalidade para refazer o efeito dos comandos de copiar e cortar
  src/main/resources/static/typescript/infrastructure/command/copiarComponenteCommand.ts
  src/main/resources/static/typescript/infrastructure/command/cortarComponenteCommand.ts
Due: Format with Prettier

alteração na toolbar
  src/main/resources/static/scss/editor.scss
  src/main/resources/templates/editor.html
Due: Format with Prettier

novidades em páginas de cadastro, login e sessão
  src/main/java/io/github/heberbarra/modelador/ControladorWeb.java
  src/main/java/io/github/heberbarra/modelador/application/conversor/ConversorDiagramaXML.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/controller/ControladorDiagramaXML.java
  src/main/resources/config/paleta.template.json
  src/main/resources/messages.properties
  src/main/resources/messages_en.properties
  src/main/resources/messages_pt.properties
  src/main/resources/static/scss/sessao.scss
  src/main/resources/static/typescript/application/paginas/editor/toolbar.ts
  src/main/resources/templates/cadastro.html
  src/main/resources/templates/criarSessao.html
  src/main/resources/templates/editor.html
  src/main/resources/templates/entrarSessao.html
  src/main/resources/templates/index.html
  src/main/resources/templates/login.html
  webpack.config.js
Due: Format with Spotless, Format with Prettier

[ FIX ] Correção de bug que impedia fazer conexões numa direção específica
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
  src/main/resources/static/typescript/infrastructure/command/conectarComponentesCommand.ts
  src/main/resources/static/typescript/infrastructure/factory/selecionadorComponenteFactory.ts
  src/main/resources/static/typescript/model/componente/lateraisComponente.ts
Due: Format with Prettier
