Repository Heber-Modelo/heber-modelo: changes, and which pre-commit hooks are due for each by the changed paths.
All: Format with Spotless, Format with Prettier

Format with Spotless:
  name: Format with Spotless
  entry: gradle spotlessJavaApply
  language: unsupported
  stages:
  - pre-commit
  pass_filenames: false

Format with Prettier:
  name: Format with Prettier
  entry: npx prettier --write
  language: node
  stages:
  - pre-commit

[ DOC ] Adição de copyright headers
  src/main/resources/static/typescript/infrastructure/command/carregarDiagramaCommand.ts
  src/main/resources/static/typescript/infrastructure/command/colarComponenteCommand.ts
  src/main/resources/static/typescript/infrastructure/command/copiarComponenteCommand.ts
  src/main/resources/static/typescript/infrastructure/command/cortarComponenteCommand.ts
Due: Format with Prettier

[ CHORE ] Correção de posicionamento do título da página de erro e lembrete para atualização futura
  src/main/java/io/github/heberbarra/modelador/infrastructure/security/ConfiguradorSecurity.java
  src/main/resources/templates/error.html
Due: Format with Spotless, Format with Prettier

[ FIX ] Adição de permissions.contents para o workflow para melhorar a segurança
  .github/workflows/ci.yml
Due: none

[ REFACTOR ] Substituição de alguns valores hard-codeds por constantes
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
Due: Format with Prettier

[ VERSION ] Atualização da versão do programa
  build.gradle.kts
Due: none

[ ENHANCEMENT ] Adição de anotação de tipo
  src/main/resources/static/typescript/infrastructure/command/carregarCSSCommand.ts
Due: Format with Prettier

[ ENHANCEMENT ] Adição de gradlew bat no .gitattributes
  .gitattributes
Due: none

[ DEPENDABOT ] Adição de prefixos para as mensagens do dependabot
  .github/dependabot.yml
Due: none

[ FIX ] Adição de flag setSecure no cookie para melhorar um pouco a segurança do aplicativo
  .pre-commit-config.yaml
  src/main/java/io/github/heberbarra/modelador/ControladorWeb.java
Due: Format with Spotless

[ REFACTOR ] Mudança nas depedências do uv para que o pre-commit seja apenas para desenvolvimento
  .gitignore
  pyproject.toml
  uv.lock
Due: none

[ FEATURE ] Adição das páginas de Termos e Privacidade e também estilização da documentação
  docs/políticaPrivacidade.md
  docs/termosGerais.md
  mkdocs.yml
Due: none

[ FEATURE ] Preparativos para o deploy da documentação no github pages usando o mike
  mkdocs.yml
  pyproject.toml
  uv.lock
Due: none

[ FEATURE ] Versão inicial da página de documentação da configuração do programa
  docs/configuração.md
  mkdocs.yml
Due: none

[ FEATURE ] Mudança na configuração para melhor a experiência do usuário
  docs/configuração.md
  mkdocs.yml
Due: none

[ FEATURE ] Adição de aviso sobre o estado atual da documentação
  docs/index.md
Due: none

[ FEATURE ] Transformação do repo_url numa variável de ambiente para permitir alternar mais facilmente a opção de mostrar o repositório
  mkdocs.yml
Due: none

[ CI ] Atualização da CI do projetos para fazer o deploy das docs e também integrá-las no jar do programa
  .github/workflows/ci.yml
  .gitignore
Due: none

[ REFACTOR ] Pequenos ajustes na estilização do index.html e remoção de comentário desnecessário
  src/main/resources/templates/index.html
Due: Format with Prettier

mudanças na homepage
  src/main/resources/messages.properties
  src/main/resources/messages_en.properties
  src/main/resources/messages_pt.properties
  src/main/resources/static/scss/btn_documentacao.svg
  src/main/resources/static/scss/index.scss
  src/main/resources/templates/btn_editar.svg
  src/main/resources/templates/index.html
Due: Format with Prettier

modificação página principal
  src/main/resources/static/scss/index.scss
Due: none

[ ENHANCEMENT ] Adição de fonte fallback e adição de ponto no seletor para indicar que é uma classe
  src/main/resources/static/scss/index.scss
Due: none

Mudanças na página principal
  src/main/resources/static/scss/btn_documentacao.svg
  src/main/resources/static/scss/index.scss
  src/main/resources/templates/btn_editar.svg
  src/main/resources/templates/index.html
Due: Format with Prettier

[ VERSÃO ] Atualização da versão do programa
  build.gradle.kts
Due: none

[ FIX ] Correção de comando errado na ci.yml
  .github/workflows/ci.yml
Due: none

Adição de redirect automático
  index.html
Due: Format with Prettier

[ FIX ] Adição de link esquecido na página inicial
  src/main/resources/templates/index.html
Due: Format with Prettier

[ FIX ] Correção da ci.yml para o env ficar na parte correta do arquivo
  .github/workflows/ci.yml
Due: none

[ FIX ] Adição de https:// para se adequar às exigências do mkdocs
  .github/workflows/ci.yml
Due: none

[ FEATURE ] Adição de mecanismo usando bash para remover as aspas da versão do programa
  .github/workflows/ci.yml
Due: none

[ ENHANCEMENT ] Adição de configuração de copyright
  .gitignore
  .idea/.gitignore
  .idea/copyright/Copyright.xml
  .idea/copyright/profiles_settings.xml
  .idea/scopes/Java.xml
  .idea/scopes/SCSS.xml
  .idea/scopes/TypeScript.xml
Due: none

[ ENHANCEMENT ] Adição de configuração para o Intellij usar UTF-8 automaticamente para arquivos .properties
  .idea/encodings.xml
Due: none

conversor
  src/main/java/io/github/heberbarra/modelador/application/conversor/ConversorDiagramaXML.java
  src/main/java/io/github/heberbarra/modelador/infrastructure/controller/ControladorDiagramaXML.java
  src/main/resources/diagram.xsd
Due: Format with Spotless

[ REFACTOR ] Remoção de arquivo desnecessário em virtude de constante ter sido movida
  src/main/resources/static/typescript/application/paginas/editor/classesCSSElementos.ts
  src/main/resources/static/typescript/application/paginas/editor/selecionadorComponente.ts
  src/main/resources/static/typescript/infrastructure/command/copiarComponenteCommand.ts
Due: Format with Prettier

[ FEATURE ] Criação de command para apagar componentes, ainda falta fazer o undo do command
  .editorconfig
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
  src/main/resources/static/typescript/application/paginas/editor/selecionadorComponente.ts
  src/main/resources/static/typescript/infrastructure/command/apagarComponenteCommand.ts
Due: Format with Prettier

[ FEATURE ] Adição de arquivos para auxiliar no setup do ambiente de desenvolvimento
  justfile
  setup.bat
  src/main/resources/static/typescript/application/paginas/editor/editor.ts
Due: Format with Prettier

[ FEATURE ] Adição de alias no justfile para facilitar a execução do programa
  justfile
Due: none

Path conditions:
  Format with Spotless: any of: \.java$
  Format with Prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$
